﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq

<ul class="breadcrumb">
@foreach (var node in Model) {
    if (node == Model.First())
    {
        <i class="icon-off"></i>@Html.DisplayFor(m => node)
    }
    
    if (node != Model.First())
    {
        <li>@Html.DisplayFor(m => node)</li>
    }
    
    if (node != Model.Last()) {
        <li><text>&nbsp; &frasl; &nbsp;</text></li>
    }
}
</ul>