﻿@{
    Layout = null;
}

<div class="btn-group hidden-phone">
	<a href="javascript:void(0)" class="btn btn-inverse btn-small">Menu</a>
	<a href="javascript:void(0)" class="btn btn-inverse dropdown-toggle btn-small" data-toggle="dropdown"><span class="caret"></span></a>
					
	<div class="dropdown-menu toolbar pull-right">
		<h3>Showing All Menu Items</h3>
		<ul class="progressbox">
			<li>
				<strong><i class="online pull-left"></i>@Html.ActionLink("Articles", "Articles", "Dashboard")</strong>
			</li>
			<li>
				<strong><i class="online pull-left"></i>@Html.ActionLink("Authors", "Authors", "Dashboard")</strong>
			</li>
            <li>
				<strong><i class="online pull-left"></i>@Html.ActionLink("Books", "Books", "Dashboard")</strong>
			</li>
			<li>
				<strong><i class="online pull-left"></i>@Html.ActionLink("Chapters", "Chapters", "Dashboard")</strong>
			</li>
			<li>
				<strong><i class="online pull-left"></i>@Html.ActionLink("Comics", "Comics", "Dashboard")</strong>
			</li>
			<li>
				<strong><i class="online pull-left"></i>@Html.ActionLink("Characters", "Characters", "Dashboard")</strong>
			</li>
            <li>
				<strong><i class="online pull-left"></i>@Html.ActionLink("Links", "Links", "Dashboard")</strong>
			</li>
            <li>
				<strong><i class="online pull-left"></i>@Html.ActionLink("Roles", "Roles", "Dashboard")</strong>
			</li>
            <li>
                <strong><i class="online pull-left"></i>@Html.ActionLink("System Errors", "SystemErrors", "Dashboard")</strong>
            </li>
            <li>
				<strong><i class="online pull-left"></i>@Html.ActionLink("Transcripts", "Transcripts", "Dashboard")</strong>
			</li>
		</ul>
	</div>
</div>