﻿@model ComicMaster.CMS.Core.Models.dtoNews

@{
    ViewBag.Title = "Add Articles";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section  id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-id-0">
                <header>
                    <h2>New Article</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <form class="form-horizontal themed">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">Title</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Title, new { @class = "span12" })
                                        <p class="help-block">
											Required.
										</p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Article</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.Text, new { @style = "width: 98%; height: 250px;", @id = "wysihtml5", @placeholder = "Enter text..."})
                                        <p class="help-block">
											Required.
										</p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Date</label>
                                    <div class="controls">
                                        <div class="input-append date" id="datepicker-js" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy">
                                            @Html.TextBoxFor(model => model.NewsDate, new { @class = "datepicker-input", @size = "16", @placeholder = "Select a date" })										    
										    <span class="add-on"><i class="cus-calendar-2"></i></span>
									    </div>
                                    </div>                                    
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Slug</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.NewsSlug, new { @class = "span12" })
                                        <p class="help-block">
											If left empty the default will be used.
										</p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Comic</label>
                                    <div class="controls">
                                        <select id="Comics" name="Comics" class="span12">
                                            <option value="0">-- Select a comic</option>
                                            @foreach (var comic in Model.Comics)
                                            {
                                                <option value="@comic.ComicID">@comic.Title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn medium btn-primary" onclick="AddArticle();">Save Article</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script type="text/javascript">
    //<!CDATA[
    function AddArticle() {
        var dtoNews = {
            comicId: document.getElementById('Comics').value,
            title: document.getElementById('Title').value,
            text: document.getElementById('wysihtml5').value,
            newsDate: document.getElementById('NewsDate').value,
            newsslug: document.getElementById('NewsSlug').value
        };

        $.ajax({
            url: '/api/article/post/',
            type: 'POST',
            data: JSON.stringify(dtoNews),
            contentType: "application/json;charset=utf-8",
            statuscode: {
                201: function(data) {
                    toastr.success('The new tag has been added successfully.', 'Success!');
                    loadTable();
                },
                500: function(data) {
                    toastr.error('There was a problem adding the new tag.', 'Uh-oh!');
                },
                417: function(data) {
                    toastr.error('The request failed with HTTP Status 417: Expectation failed.', 'Uh-oh!');
                }
            }
       });
    };
    //]]>
</script>
