﻿@model ComicMaster.CMS.Core.Models.dtoBook

@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Add a New Book";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    New Book
                </header>
                <div>
                    <div class="inner-space">
                        @using (Html.BeginForm("AddBook", "DashBoard", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                            { 
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="control-group">
                                    <label class="control-label" for="FirstName">Book Title</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.BookTitle, new { @class = "span7", @name ="BookTitle", @id = "bookTitle" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Height">Slug</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.BookSlug, new { @class = "span7", @name = "BookSlug", @id = "bookSlug" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"for="LastName">Author</label>
                                    <div class="controls">
                                        <select id="authors" name="Authors" class="span7"></select>
                                    </div>
                                </div>                                
                               <div class="form-actions">
									<button type="reset" class="btn medium btn-danger">
										Cancel
									</button>
									<button type="submit" class="btn medium btn-primary">
										Add Book
									</button>
								</div> 
                            </fieldset>
                            }
                    </div>
                </div>
            </div>
        </article>        
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";
    $(document).ready(function () {
            var options = {};
            options.url = "/api/author/get/";
            options.type = "GET";
            options.data = "";
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (data) {
                $("#authors").empty();
                $("#authors").append("<option value='Select an author'>-- Select an author --</option>");
                for (var i = 0; i < data.data.length; i++) {
                    $("#authors").append("<option value=" + data.data[i].AuthorId + ">" + data.data[i].FirstName + " " + data.data[i].LastName + "</option>");
                }
                $("#authors").prop("disabled", false);
            };
            options.error = function () { alert("Error retrieving authors!"); };
            $.ajax(options);
    });
    //]]>
</script>
@if (ViewData[Constants.AddStatus] == Constants.Success)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";

        toastr.success('The new book has been added successfully.', 'Success!')
        //]]>
    </script>
}
else if (ViewData[Constants.AddStatus] == Constants.Fail)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";
        toastr.error('There was a problem with the form!', 'Uh oh!')
        //]]>
    </script>
}
else
{
    
}
