﻿@model ComicMaster.CMS.Core.Models.dtoNewCharacter
@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Add New Character";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var pageStatus = Model.Success;
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    New Character
                </header>
                <div>
                    <div class="inner-space">
                        @using (Html.BeginForm("AddCast", "DashBoard", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                            { 
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="control-group">
                                    <label class="control-label" for="FirstName">First Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "span7" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"for="LastName">Last Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "span7"})
                                    </div>
                                </div>
                                <div class="control-group">
									<label class="control-label">Gender</label>
									<div class="controls">
										<label class="radio inline">
											<input type="radio" name="gender" id="optionsRadios1" value="F" checked>
											Female&nbsp;<i class="cus-female "></i>
										</label>&nbsp;&nbsp;&nbsp;
										<label class="radio inline">
											<input type="radio" name="gender" id="optionsRadios1" value="M">
											Male&nbsp;<i class="cus-male"></i>
										</label>
									</div>
								</div>
                                <div class="control-group">
                                    <label class="control-label" for="Height">Height</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Height, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Weight">Weight</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Weight, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="BloodType">Blood Type</label>
                                    <div class="controls">
                                        <select  id="BloodType" name="BloodType">
                                            <option>-- Select Blood Type --</option>
                                            @foreach (var type in Model.BloodTypes)
                                            {
                                                <option value="@type.Type">@Html.Encode(type.Type)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Bust">Bust</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Bust, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Waist">Waist</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Waist, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Hips">Hips</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Hips, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Image">Character Image</label>
                                    <div class="controls">
                                        <input id="imageupload" type="file" name="imageupload" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Thumbnail">Thumbnail Image</label>
                                    <div class="controls">
                                        <input id="thumbupload" type="file" name="thumbImage" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Bio">Bio</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.Bio, new { @class = "span7", @height = "250px", @placeholder="Enter text..."})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Slug">Slug</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Slug, new { @class = "span7"})
                                    </div>
                                </div>
                               <div class="form-actions">
									<button type="reset" class="btn medium btn-danger">
										Cancel
									</button>
									<button type="submit" class="btn medium btn-primary">
										Add Character
									</button>
								</div> 
                            </fieldset>
                            }
                    </div>
                </div>
            </div>
        </article>        
    </div>
</section>
@switch (pageStatus)
{
    case "success":
        {
            <script type="text/javascript">
                //<!CDATA[
                "use strict";
                toastr.success('The new character has been added successfully.', 'Success!')
                ClearAll();

                function ClearAll() {
                    var objInput = document.getElementsByTagName("input");
                    for (var iCount = 0; iCount < objInput.length; iCount++) {
                        if (objInput[iCount].type == "text")
                            objInput[iCount].value = "";
                    }
                }
                //]]>
            </script>
    
            break;
        }
    case "fail":
        {
            <script type="text/javascript">
                //<!CDATA[
                "use strict";
                toastr.error('There was a problem with the form!', 'Uh oh!')
                //]]>
            </script>
    
            break;
        }
    case "Exists":
        {
            <script type="text/javascript">
                //<!CDATA[
                "use strict";
                toastr.warning('That character name is currently in use.', 'Naming Error')
                //]]>
            </script>
            break;
        }
    default:
        {
            break;
        }
}