﻿@model ComicMaster.CMS.Core.Models.dtoChapter

@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Add a New Chapter";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    New Chapter
                </header>
                <div>
                    <div class="inner-space">
                        @using (Html.BeginForm("AddChapter", "DashBoard", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                            { 
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="control-group">
                                    <label class="control-label" for="FirstName">Chapter Title</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.ChapterTitle, new { @class = "span7", @name = "ChapterTitle", @id = "chapterTitle" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Height">Slug</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.ChapterSlug, new { @class = "span7", @name = "ChapterSlug", @id = "chapterSlug" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"for="LastName">Book</label>
                                    <div class="controls">
                                        <select id="books" name="Books" class="span7"></select>
                                    </div>
                                </div>                                
                               <div class="form-actions">
									<button type="reset" class="btn medium btn-danger">
										Cancel
									</button>
									<button type="submit" class="btn medium btn-primary">
										Add Chapter
									</button>
								</div> 
                            </fieldset>
                            }
                    </div>
                </div>
            </div>
        </article>        
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";
    $(document).ready(function () {
            var options = {};
            options.url = "/api/book/get/";
            options.type = "GET";
            options.data = "";
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (data) {
                $("#books").empty();
                $("#books").append("<option value='Select a book'>-- Select a book --</option>");
                for (var i = 0; i < data.data.length; i++) {
                    $("#books").append("<option value=" + data.data[i].BookID + ">" + data.data[i].BookTitle + "</option>");
                }
                $("#books").prop("disabled", false);
            };
            options.error = function () { alert("Error retrieving books!"); };
            $.ajax(options);
    });
    //]]>
</script>
@if (ViewData[Constants.AddStatus] == Constants.Success)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";

        toastr.success('The new chapter has been added successfully.', 'Success!')
        //]]>
    </script>
}
else if (ViewData[Constants.AddStatus] == Constants.Fail)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";
        toastr.error('There was a problem adding the new chapters!', 'Uh oh!')
        //]]>
    </script>
}
else
{
    
}
