﻿@model ComicMaster.CMS.Core.Models.dtoNewComicModel

@{
    ViewBag.Title = "Add a Comic";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!-- widget grid -->
<section id="widget-grid" class="">
							
	<!-- row-fluid -->
							
	<div class="row-fluid">
		<article class="span12">
									
			<!-- new widget -->
			<div class="jarviswidget" data-widget-setstyle="black" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
				<header class="black-btn">
					<h2>New Comic Wizard</h2> 
				</header>
				<!-- wrap div -->
				<div>
            
					<div class="inner-spacer"> 
					<!-- content goes here -->
						@using (Html.BeginForm("AddComic", "DashBoard", FormMethod.Post, new { @class = "form-horizontal themed", @id = "wizard", enctype = "multipart/form-data" }))
                        {				
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)																			
							<div id="wizard_name">
														
								<!-- wizard steps -->
								<ul class="bwizard-steps">
									<li>
                                        <span class="label badge-inverse">1</span>
                                        <a href="#inverse-tab1" data-toggle="tab">Comic Configuration</a>
                                    </li>
                                    <li>
                                        <span class="label badge-inverse">2</span>
                                        <a href="#inverse-tab2" data-toggle="tab">Comic Images</a>
                                    </li>
                                    <li>
                                        <span class="label badge-inverse">3</span>
                                        <a href="#inverse-tab3" data-toggle="tab">Transcript</a>
                                    </li>
                                    <li>
                                        <span class="label badge-inverse">4</span>
                                        <a href="#inverse-tab4" data-toggle="tab">Book &amp; Chapter</a>
                                    </li>
                                    <li>
                                        <span class="label badge-inverse">5</span>
                                        <a href="#inverse-tab5" data-toggle="tab">Characters</a>
                                    </li>
								</ul>
								<!-- end wizard steps -->
														
								<div class="tab-content">
									<!-- step 1-->
									<!-- step 1-->
                                    <fieldset class="tab-pane" id="inverse-tab1">
                                        <div class="control-group">
                                            <label class="control-label" for="Title">Title</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.Title, new { @class = "span9", @name= "Title", @id="title"})                                                
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="Artist">Artist</label>
                                            <div class="controls">
                                                <select class="span9 with-search" id="artist" name="artist">
                                                <option value="0">-- Select an artist --</option>
                                                    @if (Model.Authors != null)
                                                    {
                                                        foreach (var author in Model.Authors)
                                                        {
                                                            if (author.Author.AuthorType == 1 || author.Author.AuthorType == 3)
                                                            {
                                                                var fullname = author.FirstName + " " + author.LastName;                 
                                                                <option value="@author.AuthorId">@fullname</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="Writer">Writer</label>
                                            <div class="controls">
                                                <select class="span9 with-search" id="writer" name="writer">
                                                    <option value="0">-- Select a writer --</option>
                                                    @if (Model.Authors != null)
                                                    {
                                                        foreach (var author in Model.Authors)
                                                        {
                                                            if (author.Author.AuthorType == 2 || author.Author.AuthorType == 3)
                                                            {
                                                                var fullname = author.FirstName + " " + author.LastName;                 
                                                                <option value="@author.AuthorId">@fullname</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>                          
                                        <div class="control-group">
                                            <label class="control-label" for="HomePage">On Home Page</label>
                                            <div class="controls">
                                                <label class="radio inline">
								                    <input type="radio" value="true" name="OnHomePage" id="onHomepage"  /> Yes &nbsp;<i class="icon-ok"></i>
                                                    &nbsp;&nbsp;&nbsp; 
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" value="false" name="OnHomePage" id="onHomePage" /> No &nbsp;<i class="icon-remove"></i>
                                                </label>          
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="PostDate">Publish Date</label>
                                            <div class="controls">
                                                <div class="input-append date" id="datepicker-js" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy">
                                                    <input class="datepicker-input" size="16" type="text"  name="ComicDate" value="@DateTime.Now.ToShortDateString()" placeholder="Select a date" />                                                    									    
										            <span class="add-on"><i class="cus-calendar-2"></i></span>
									            </div>
                                            </div>
                                        </div>
                                        <div class="control-group" id="timepicker-demo">
                                            <label class="control-label" for="PostTime">Publish Time</label>
                                            <div class="controls">
                                                <div class="input-append bootstrap-timepicker-component">
													<input id="timepicker2" type="text" name="PublishDate" class="timepicker-input" value="12:00:00" />
													<span class="add-on"><i class="cus-clock"></i></span>
												</div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="LastComic">Slug</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.ComicSlug, new { @class = "span9", @name = "ComicSlug" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="ShortDescription">Short Description</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.ShortDescription, new { @class = "span9", @name = "ShortDescription" })
                                                <i class="icon-cog field-icon"></i><br />
                                                @Html.ValidationMessageFor(m => m.ShortDescription)
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="LongDescritpion">Long Description</label>
                                            <div class="controls">
                                                @Html.TextAreaFor(m => m.LongDescription, new { @style = "width: 100%; height: 250px;", @name = "LongDescription", @id = "wysihtml5", @placeholder = "Enter text..." })
                                                    <br />
                                                @Html.ValidationMessageFor(m => m.LongDescription)         
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="Tags">Tags</label>
                                            <div class="controls">
                                                <select multiple="multiple" id="multiSelect" name="tags" class="span12" style="height:500px">
                                                    @foreach (var tag in Model.Tags)
                                                    {
                                                        <option value="@tag.TagId">
                                                            @Html.Encode(tag.TagName)
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- step 2-->
                                    <fieldset class="tab-pane" id="inverse-tab2">
                                        <div class="control-group">
                                            <label class="control-label" for="">Banner Image</label>
                                            <div class="controls">
                                                <input class="file" id="bannerComic" type="file" name="bannerImage" />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="">Comic Image</label>
                                            <div class="controls">
                                                <input class="file" id="fileComic" type="file" name="comicImage" /><br />
                                                @Html.ValidationMessageFor(m => m.ComicImage)
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="ThumbnailImage">Thumbnail</label>
                                            <div class="controls">
                                                <input class="file" id="fileThumb" type="file" name="thumbImage" /><br />
                                                @Html.ValidationMessageFor(m => m.ThumbnailImage)
                                            </div>
                                        </div>
                                    </fieldset>                                    
                                    <fieldset class="tab-pane" id="inverse-tab3">
                                        <div class="control-group">
                                            <label class="control-label" for="Transcript">Transcript</label>
                                            <div class="controls">
                                                @Html.TextAreaFor(m => m.Transcript, new { @style = "width: 100%; height: 250px;", @name = "Transcript", @id = "wysihtml5", @placeholder = "Enter text..." })
                                                    <br />
                                                @Html.ValidationMessageFor(m => m.Transcript)  
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="tab-pane" id="inverse-tab4">
                                        <div class="control-group">
                                            <label class="control-label" for="Books">Book</label>
                                            <div class="controls">
                                                <select class="span9 with-search" id="book" name="Book">
                                                    <option value="Select book">Select book</option>
                                                    @foreach (var book in Model.Books)
                                                    {
                                                        <option value="@book.BookID">@Html.Encode(book.BookTitle)</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="Chapters">Chapter</label>
                                            <div class="controls">
                                                <select class="span9 with-search" id="chapter" name="Chapter">
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="tab-pane" id="inverse-tab5">
                                        <div class="control-group">
                                            <label class="control-label" for="Cast">Characters</label>
                                            <div class="controls">
                                                <select multiple="multiple" id="multiSelect" name="comicCast" class="span12" style="height:500px">
                                                    @foreach (var cast in Model.CastMembers)
                                                    {
                                                        var fullName = @cast.FirstName + " " + @cast.LastName;
                                                        <option value="@cast.CastID">
                                                            @fullName 
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
									<!-- wizard -->
									<div class="form-actions wizard">
										<div class="span6 hidden-phone">
											<strong class="" style="margin-right: 5px; line-height: 25px; float:left;">Start</strong>
											<strong class="" style="margin-left: 5px; line-height: 25px;">Finish</strong>
											<div id="bar" class="progress progress-info slim" style="margin-bottom:0;">
												<div class="bar"></div>
											</div>
										</div>
										<div class="span6">
											<ul style="list-style: none;">
												<li class="previous">
													<a href="javascript:void(0);" class="btn medium btn-danger">
														Previous
													</a>
												</li>
												<li class="next">
													<a href="javascript:void(0);" class="btn medium btn-primary next">
														Next
													</a>
												</li>
                                                <li class="next">
                                                    <button type="submit" id="done" class="btn medium btn-success">Done</button>
                                                </li>
											</ul>
										</div>
									</div>
								</div>
							</div>									
                        }
					</div>
					<!-- end content-->
				</div>
				<!-- end wrap div -->
			</div>
			<!-- end widget -->
		</article>
	</div>
	<!-- end row-fluid -->							
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";
    $(document).ready(function () {
        $("#chapter").prop("disabled", true);
        $("#book").change(function () {
            if ($("#book").val() != "Select book") {
                var options = {};
                options.url = "/api/chapter/get/";
                options.type = "GET";
                options.data = JSON.stringify({ id: $("#book").val() });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function (data) {
                    $("#chapter").empty();
                    $("#chapter").append("<option value='Select chapter'>Select chapter</option>");
                    for (var i = 0; i < data.data.length; i++) {
                        $("#chapter").append("<option value=" + data.data[i].ChapterID + ">" + data.data[i].ChapterTitle + "</option>");
                    }
                    $("#chapter").prop("disabled", false);
                };
                options.error = function () { alert("Error retrieving chapters!"); };
                $.ajax(options);
            }
            else {
                $("#chapter").empty();
                $("#chapter").prop("disabled", true);
            }
        });
    });
    //]]>
</script>