﻿@model ComicMaster.CMS.Core.Models.dtoLink

@{
    ViewBag.Title = "Add Link";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    New External Link
                </header>
                <div>
                    <div class="inner-space">
                        @using (Html.BeginForm("AddLink", "DashBoard", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
                            { 
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="control-group">
                                    <label class="control-label" for="Alternate Name">Link Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.AlternateName, new { @class = "span7", @name ="AlternateName", @id = "alternateName" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="URL">URL</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.ExternalUrl, new { @class = "span7", @name = "ExternalUrl", @id = "externalUrl" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ImagePath">Image</label>
                                    <div class="controls">                                       
                                        <input class="file" id="fileImage" type="file" name="ImagePath" /><br />
                                        @Html.ValidationMessageFor(m => m.ImagePath)
                                    </div>
                                </div>               
                               <div class="form-actions">
									<button type="reset" class="btn medium btn-danger">
										Cancel
									</button>
									<button type="submit" class="btn medium btn-primary">
										Add Link
									</button>
								</div> 
                            </fieldset>
                            }
                    </div>
                </div>
            </div>
        </article>        
    </div>
</section>

<script type="text/javascript">
    //<!CDATA[
    $(document).ready(function() {
        $.ajax({
            statusCode: {
                201: function (data) {
                    toastr.success('Your new link has been added to your collection.', 'Success!');
                },
                400: function (data) {
                    toastr.warning('No image was selected for the upload.', 'Missing Image.');
                },
                500: function (data) {
                    toastr.error('There was a problem adding the new link to your collection.', 'Uh-oh!');
                }
            }
        });
    });
    //]]>
</script>