﻿@model ComicMaster.CMS.Core.Models.dtoMediaLibrary

@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Add Media";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Add Media</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <form class="form-horizontal themed" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="MediaId" name="MediaType" value="" />
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="Name">Image Name:<span class="req">*</span></label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "span12", @name ="Name", @id = "Name" })
                                    </div>                                    
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ImagePath">Media File:<span class="req">*</span></label>
                                    <div class="controls">
                                        <input class="file" id="fileInput" name="fileInput" type="file" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="MediaType">Media Type:<span class="req">*</span></label>
                                    <div class="controls">
                                        <select id="MediaType" name="MediaType"></select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn medium btn-warning">
                                        Add Media Item
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";

    DashBoardServiceCall.getMediaTypes({ url: "/api/mediatype/get/", httpType: "get" });

    $('#MediaType').change(function() {
        var selected = $('#MediaType option:selected').val();
        if (selected != '-- Select media type --') {
            $('#MediaId').val($('#MediaType option:selected').val());
        }
    });

    //]>
</script>
@if (ViewData[Constants.AddStatus].ToString() == Constants.Success)
{
    <script type="text/javascript">
        toastr.success('The new media item has been added successfully.', 'Success!');
    </script>
}
else if (ViewData[Constants.AddStatus].ToString() == Constants.Fail)
{
    <script type="text/javascript">
        toastr.error('There was a problem adding the new media item.', 'Uh-oh!');
    </script>
}
else if (ViewData[Constants.AddStatus].ToString() == Constants.InvalidFormData)
{
    <script type="text/javascript">
        toastr.warning('There was a problem with the form please check that all fields are entered.', 'Form Error!');
    </script>
}
else
{
}