﻿@model ComicMaster.CMS.Core.Models.dtoNewPost
@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Add New Post";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span8">
            <div class="jarviswidget" data-widget-deletebutton="false" id="widget-1d-1" data-widget-fullscreenbutton="false" data-widget-editbutton="false">
                <header>
                    New Post
                </header>
                <div>
                    <div class="inner-space">
                        @using (Html.BeginForm("AddPost", "DashBoard", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <input type="hidden" id="postCategory" name="Category" value="0" />
                                <input type="hidden" id="postTags" name="Tags" value="" />
                                <input type="hidden" id="postStatus" name="Status" value="Draft" />
                                <input type="hidden" id="postVisibility" name="Visibility" value="Public" />
                                <input type="hidden" id="postPublish" name="Publish" value="" />

                                <div id="controlTitle" class="control-group">
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Title, new { @class = "span12", @name = "Title", @id = "title", @placeholder = "Enter title here..."})
                                        <p class="help-block">Enter a title for your post.</p>
                                        <label id="titleError" for="Title" class="error hidden">A post title is required</label>
                                    </div>
                                </div>
                                <div id="controlContent" class="control-group">
                                    <div class="controls">
                                        @Html.TextAreaFor(m => m.LongDescription, new { @style = "width: 100%; height: 250px;", @name = "LongDescription", @id = "wysihtml5", @placeholder = "Enter text..." })
                                        <p class="help-block">Enter content for your post.</p>
                                        <label for="Content" class="error hidden" id="contentError">Post content is required</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Meta, new { @class = "span12", @name = "Title", @id = "title", @placeholder = "Enter meta text here..."})
                                        <p class="help-block">Place Meta information here. This helps with post visibility.</p>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="reset" class="btn medium btn-danger">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn medium btn-primary" id="saveForm">
                                        Save
                                    </button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </article>
        <article class="span4">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                <header>
                    Publish
                </header>
                <div class="inner-spacer">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion1" href="#collapse1a">
                                    <i class="icon-map-marker"></i> Status <span id="status"><b>Draft</b></span></a>
                            </div>
                            <div id="collapse1a" class="accordion-body in collapse" style="height: auto;">
                                <div class="accordion-inner">
                                    <select id="draftStatus">
                                        <option id="no-status">-- Select Draft Status ---</option>
                                        <option id="Draft">Draft</option>
                                        <option id="Live">Live</option>
                                        <option id="Pending Review"> Pending Review</option>
                                    </select>
                                    <button type="button" id="btnStatus">Ok</button>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
                                    <i class="icon-eye-open"></i> Visibility <span id="Visibility"><b>Public</b></span> </a>
                            </div>
                            <div id="collapse2" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <input type="radio" name="visible" value="Private" />Private<br />
                                    <input type="radio" name="visible" value="Public" />Public<br />
                                    <br />
                                    <button type="button" id="postVisiblity">Ok</button>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
                                    <i class="icon-calendar"></i> Publish <span id="Publish"><b>immediately</b></span> </a>
                            </div>
                            <div id="collapse3" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">                                    
                                    <div class="input-append date" id="datepicker-js" data-date="12-02-2012" data-date-format="mm-dd-yyyy">
                                        <input class="datepicker-input" size="16" type="text" value="@DateTime.Now.ToShortDateString()" placeholder="Select a date">
                                        <span class="add-on"><i class="cus-calendar-2"></i></span>
                                    </div><br />
                                    <button type="button" id="publishDate">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="well">
                    <button id="btnSave" class="btn btn-primary">Save</button>
                </div>
            </div>
            <div class="jarviswidget well light" id="widget-1d-2" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    Category
                </header>
                <div class="inner-spacer widget-content-padding">
                    <ul id="myTab" class="nav nav-tabs default-tabs">
                        <li class="active">
                            <a href="#s1" data-toggle="tab">Categories</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab">Most used</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="s1">
                            <p>
                                <select id="categories"></select>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="s2">
                            <p>
                                <select id="mostUsed"></select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jarviswidget" id="widget-1d-3" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    Tags
                </header>
                <div class="inner-space widget-content-padding">
                    <input type="text" name="Tags" id="tags" class="span9" />
                    <button type="button" class="btn btn-medium" style="margin-bottom: 9px;" id="addTags">Add</button>
                    <i>Separate tags with commas</i>
                </div>
                <div class="inner-spacer">
                    <div class="accordion" id="accordion1">
                        <div class="accordion-heading">
                            <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">Choose from a list of tags
                            </a>
                        </div>
                        <div id="collapse1" class="accordion-body in collapse" style="height: auto;">
                            <div class="accordion-inner">
                                <ul id="tagList" class="custom-list"></ul><br />
                                <button id="addTagsToPost" class="btn btn-primary" onclick="$.jGrowl('The tag(s) have been added', { header: 'Info' });">Add to Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";

    $(document).ready(function () {
        
        LoadDropDowns();

        if ($("#postPublish").val() == "") {
            var d = new Date();
            $("#postPublish").val(d.toLocaleString());
        }

        if ($("#postVisibility").val() == "") {
            $("#postVisibility").val("Public");
        }

        $("#btnStatus").click(function () {            
            var pStatus = $("#draftStatus").val();
            $("input[id=postStatus]").val(pStatus);
            $("#status").html('<b>' + pStatus + '</b>');
            $("#postStatus").val(pStatus);
        });

        $("#saveForm").click(function () {
            if ($("#wysihtml5").val() == "") {
                $("#controlContent").addClass("error");
                $("#contentError").removeClass("hidden");

                if ($("#title").val() == "") {
                    $("#controlTitle").addClass("error");
                    $("#titleError").removeClass("hidden");
                    return false;
                }

                return false;
            }
            return true;
        });
        
        $("#addTagsToPost").click(function () {
            var tags = $("input:checkbox[name=Tags]:checked").map(function () {
                return $(this).val();
            }).get();
            $("#postTags").val(tags);
        });

        $("#postVisiblity").click(function () {
            var visible = $("input:radio[name=visible]:checked").val();
            $("#postVisibility").val(visible);
            $("#Visibility").html('<b>' + visible + '</b>');
        });

        $("#publishDate").click(function () {
            var pubDate = $(".datepicker-input").val();
            $("#postPublish").val(pubDate);
            $("#Publish").html('<b>' + pubDate + '</b>');
        });

        $("#categories").change(function () {
            var thatOne = $("#categories option:selected").val();
            if (thatOne != "select category") {
                $("#postCategory").val($("#categories option:selected").val());
            }
        });

        $("#mostUsed").change(function () {
            var thisOne = $("#mostUsed option:selected").val();
            if (thisOne != "select category") {
                $("#postCategory").val($("#mostUsed option:selected").val());
            }
        });

        $("#addTags").click(function () {
            var newTags = $("#tags").val();

            $.ajax({
                url: "/api/tag/post/",
                type: "POST",
                data: JSON.stringify(newTags),
                contentType: "application/json; charset=utf-8",
                statusCode: {   
                    200: function (data) {
                        toastr.success('The new tag(s) have been added successfully.', 'Success!');
                        getTags();
                    },
                    500: function (data) {
                        toastr.error('There was a problem adding the new tag(s).', 'Uh-oh!');
                    }
                }
            });
        });
    });

    function LoadDropDowns() {
        getPostCatgories();
        getTags();
    };

    //]]>
</script>
@if (ViewData["AddStatus"].ToString() == Constants.AddStatus)
{
    <script type="text/javascript">
        toastr.success('The new post has been added successfully.', 'Success!');
    </script>
}
else if (ViewData["AddStatus"].ToString() == Constants.Fail)
{
    <script type="text/javascript">
        toastr.error('There was a problem adding the new post.', 'Uh-oh!');
    </script>
}
else
{
}