@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">            
            <div class="jarviswidget" id="widget-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>
                        View All News Articles
                    </h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <div class="widget alert alert-success adjusted">
                            <a href="@Url.Action("AddArticles", "DashBoard")" class="btn btn-success">Add New</a>
                        </div>                        
                        <span id="articles"></span>
                        <div class="form-actions">
                            <button id="deleteArticle" class="btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>                
            </div>
        </article>
    </div>
</section>

<script type="text/javascript">
    //<!CDATA[
    $(document).ready(function () {
        "use strict";

        loadArticle();

        $("#deleteArticle").click(function () {
            var checkedArticle = $("input[name=]:checked").map(function () {
                return $(this).val();
            }).get();

            bootbox.confirm("Are you sure you want to delete this article?", function (result) {
                if (result) {
                    for (var i = 0; i < checkedArticle.length; i++) {
                        $(".loading").removeClass("hidden");

                        $.ajax({
                            url: "/api/article/delete/" + checkedArticle[i],
                            type: "DELETE",
                            contentType: "application/json;charset=utf-8",
                            statusCode: {
                                204: function () {
                                    $(".loading").addClass("hidden");
                                    toastr.success("The article was deleted", "Success!");                                    
                                    loadArticle();
                                },
                                500: function () {
                                    $(".loading").addClass("hidden");
                                    toastr.error('There was a problem deleting the article.', 'Uh-oh!');
                                }
                            }
                        });
                    }
                } else {
                    event.preventDefault();
                }
            });
        });

        function loadArticle() {
            $(".loading").removeClass("hidden");

            $.ajax({
                url: '/api/article/get/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var strResult = "<table class='table table-striped table-bordered responsive' id='dtable'>"
                                + "<thead> "
                                + "<tr>"
                                + "<th>&nbsp;</th>"
                                + "<th>Title</th>"
                                + "<th>Slug</th>"
                                + "<th>Actions</th>"
                                + "</tr>"
                                + "</thead>"
                                + "<tbody>"
                    $.each(data.data, function (index, data) {
                        strResult += "<tr><td><input type='checkbox' name='allArticle' value='" + data.Id
                            + "' /></td><td style='width:40%;'>" + data.Title + "</td><td style='width:40%;'>" + data.NewsSlug
                            + "</td><td style='width:20%;text-align:center;'><a href='/dashboard/article/" + data.NewsId
                            + "' class='btn btn-primary btn-small'>Edit</a></td></tr>";                        
                    });
                    strResult += "</tbody></table>";
                    $("#articles").html(strResult);
                    $(".loading").addClass("hidden");
                },
                error: function (data) {
                    toastr.error('There was a problem getting the news articles.', 'Uh-oh!');
                }
            })
        }
    });
    //]]>
</script>

