﻿@model IList<ComicMaster.CMS.Core.Models.dtoaspnet_Membership>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Authors";
}

    <section id="widget-grid" class="">
        <div class="row-fluid">            
            <article class="span12">
                    <div class="jarviswidget" id="widget-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                        <header>
                            <h2>				
				                View All Authors						
			                </h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
						        <div>
							        <label>Title:</label>
							        <input type="text" />
						        </div>
						        <div>
							        <label>Styles:</label>
							        <span data-widget-setstyle="purple" class="purple-btn"></span>
							        <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
							        <span data-widget-setstyle="green" class="green-btn"></span>
							        <span data-widget-setstyle="yellow" class="yellow-btn"></span>
							        <span data-widget-setstyle="orange" class="orange-btn"></span>
							        <span data-widget-setstyle="pink" class="pink-btn"></span>
							        <span data-widget-setstyle="red" class="red-btn"></span>
							        <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
							        <span data-widget-setstyle="black" class="black-btn"></span>
						        </div>
					        </div>
                            <div class="inner-spacer">
                                <div class="widget alert alert-success adjusted">
                                <a href="@Url.Action("CreateAccount", "DashBoard")" class="btn btn-success">Add New</a>
						    </div>            
                            <table class="table table-striped table-bordered responsive" id="dtable">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr class="@(i % 2 == 1 ? "even" : "odd")">
                                            <td>@Html.Encode(Model[i].FirstName)</td>
                                            <td>@Html.Encode(Model[i].LastName)</td>
                                            <td>@Html.Encode(Model[i].aspnet_Users.UserName)</td>
                                            <td>@Html.Encode(Model[i].Email)</td>
                                            <td style="text-align:center;"><a href="@Url.Action("EditAccount", "DashBoard", new {@id = Model[i].AuthorId })" class="btn btn-primary btn-small">Edit</a> | <a href="javascript:void(0);" onclick="AuthorDelete(@Model[i].AuthorId.ToString())" id="bootbox-confirm-js" class="btn btn-primary btn-small">Delete</a> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>	
        </div>        
    </section>

<script type="text/javascript">
//<!CDATA[
    "use strict";
    function AuthorDelete(id)
    {
        bootbox.confirm("Are you sure you want to mark this account as inactive?", function (result) {
            if (result) {
                $(".loading").removeClass("hidden");
                //Logic to delete the item
                $.ajax({
                    url: "/api/author/delete/" + id,
                    type: 'DELETE',
                    statusCode: {
                        204: function () {
                            $(".loading").addClass("hidden");
                            toastr.success('The account has been marked as inactive.', 'Success!');
                            document.location.reload(true);
                        },
                        417: function () {
                            $(".loading").addClass("hidden");
                            toastr.error('There was a problem changing the account status.', 'Uh-oh!');
                        }
                    }
                });
            }
            else
                event.preventDefault();
        });        
    }
    //]]>
</script>