﻿@model List<ComicMaster.CMS.Core.Models.dtoBlog>

@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>All Blogs</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <div class="widget alert alert-success adjusted">
                            <a href="@Url.Action("AddBlog", "DashBoard")" class="btn btn-success">Add New</a>
                        </div>
                        <table class="table table-striped table-bordered responsive" id="col-filter">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Slug</th>
                                    <th>Post Count</th>
                                    <th>Active</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="bootbox-js">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr class="@(i % 2 == 1 ? "even" : "odd")">
                                        <td><a href="@Url.Action("Posts", "DashBoard", new { @id = Model[i].Id })">@Html.Raw(Model[i].BlogTitle)</a></td>
                                        <td>@Html.Raw(Model[i].BlogSlug)</td>
                                        <td style="text-align:center;">@Html.Raw(Model[i].PostCount)</td>
                                        @if (Model[i].Active == true)
                                        {
                                            <td style="text-align:center;"><input type="checkbox" name="Active" id="Active" checked="checked" /></td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;"><input type="checkbox" name="Active" id="Active" checked="" /></td>
                                        }
                                        <td style="text-align:center;"><a href="@Url.Action("Blog", "DashBoard", new {@id = Model[i].Id })" class="btn btn-primary btn-small">Edit</a> | <a href="javascript:void(0);" onclick="deleteBlog(@Model[i].Id.ToString())" id="bootbox-confirm-js" class="btn btn-primary btn-small">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";
    function deleteBlog(id)
    {
        bootbox.confirm("Are you sure you want to delete this blog?", function (result) {
            if (result) {
                $(".loading").removeClass("hidden");

                $.ajax({
                    url: "/api/blog/delete/" + id,
                    type: 'DELETE',
                    statusCode: {
                        204: function () {
                            $(".loading").addClass("hidden");
                            toastr.success('The blog has been deleted successfully.', 'Success!');
                            document.location.reload(true);
                        },
                        417: function () {
                            $(".loading").addClass("hidden");
                            toastr.error('There was a problem deleting the blog.', 'Uh-oh!');
                        }
                    }
                });
            }
            else {
                event.preventDefault();
            }
        });
    }
    //]]>
</script>

