﻿@model ComicMaster.CMS.Core.Models.dtoBlog

@{
    ViewBag.Title = "Edit Blog Settings";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span8">
            <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>@Html.Raw(Model.BlogTitle)</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        @using (Html.BeginForm("Blog", "DashBoard", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="control-group">
                                <label class="control-label" for="Title">Title</label>
                                <div class="controls">
                                    @Html.Raw(HttpUtility.HtmlDecode(@Html.TextBoxFor(m => m.BlogTitle, new { @class = "span12" }).ToHtmlString()))                                    
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Slug">Slug</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.BlogSlug, new { @class = "span12" })
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn medium btn-primary">
                                    Save
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </article>
        <article class="span4">
            <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Author Info</h2>
                </header>
                <div>
                    <div class="inner-spacer well">
                        @Html.LabelFor(m => m.AuthorName)
                        <div class="well light">
                            Post Count: @Model.PostCount
                        </div>
                    </div>
                </div>
            </div>           
        </article>
    </div>
</section>