﻿@model List<ComicMaster.CMS.Core.Models.dtoBook>
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
                <div class="jarviswidget" id="widget-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                    <header>
                        <h2>All Books</h2>
                    </header>
                    <div>
                        <div class="inner-spacer">
                            <div class="widget alert alert-success adjusted">
                                <a href="@Url.Action("AddBook", "DashBoard")" class="btn btn-success">Add New</a>
						    </div>
                            <table class="table table-striped table-bordered responsive" id="col-filter">
                                <thead>
                                    <tr>
                                        <th>Book Title</th>
                                        <th>Slug</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="bootbox-js">
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr class="@(i % 2 == 1 ? "even" : "odd")">
                                            <td style="width:40%;">@Html.Encode(Model[i].BookTitle)</td>
                                            <td style="width:40%;">@Html.Encode(Model[i].BookSlug)</td>
                                            <td style="width:20%;text-align:center;"><a href="@Url.Action("EditAccount", "DashBoard", new {@id = Model[i].BookID })" class="btn btn-primary btn-small">Edit</a> | <a href="javascript:void(0);" onclick="deleteBook(@Model[i].BookID.ToString())" id="bootbox-confirm-js" class="btn btn-primary btn-small">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
</section>
<script type="text/javascript">
        //<!CDATA[
        "use strict";
        function deleteBook(id)
        {
            bootbox.confirm("Are you sure you want to delete this book?", function (result) {
                if (result) {
                    $(".loading").removeClass("hidden");

                    $.ajax({
                        url: "/api/book/delete/" + id,
                        type: 'DELETE',
                        statusCode: {
                            204: function () {
                                $(".loading").addClass("hidden");
                                toastr.success('The book has been deleted successfully.', 'Success!');
                                document.location.reload(true);
                            },
                            417: function () {
                                $(".loading").addClass("hidden");
                                toastr.error('There was a problem deleting the book.', 'Uh-oh!');
                            }
                        }
                    });
                }
                else
                    event.preventDefault();
            });
            
        }    
        //]]>
</script>
