﻿@model ComicMaster.CMS.Core.Models.dtoCast

@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Edit Character";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var pageStatus = ViewData["UpdateStatus"].ToString();
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    @Html.Encode(Model.FirstName + " " + Model.LastName)
                </header>
                <div>
                    <div class="inner-space">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="FirstName">First Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "span7" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"for="LastName">Last Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "span7"})
                                    </div>
                                </div>
                                <div class="control-group">
									<label class="control-label">Gender</label>
                                    @if(Model.Sex == "F")
                                    {                         
                                        <div class="controls">
										    <label class="radio inline">
											    <input type="radio" name="gender" id="optionsRadios1" value="F" checked />
											    Female&nbsp;<i class="cus-female "></i>
										    </label>&nbsp;&nbsp;&nbsp;
										    <label class="radio inline">
											    <input type="radio" name="gender" id="optionsRadios2" value="M" />
											    Male&nbsp;<i class="cus-male"></i>
										    </label>
									    </div>
                                    }
                                    else
                                    {
                                        <div class="controls">
										    <label class="radio inline">
											    <input type="radio" name="gender" id="optionsRadios3" value="F" />
											    Female&nbsp;<i class="cus-female "></i>
										    </label>&nbsp;&nbsp;&nbsp;
										    <label class="radio inline">
											    <input type="radio" name="gender" id="optionsRadios4" value="M" checked />
											    Male&nbsp;<i class="cus-male"></i>
										    </label>
									    </div>
                                    }
								</div>
                                <div class="control-group">
                                    <label class="control-label" for="Height">Height</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Height, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Weight">Weight</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Weight, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="BloodType">Blood Type</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.BloodType, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Bust">Bust</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Bust, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Waist">Waist</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Waist, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Hips">Hips</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Hips, new { @class = "span3"})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Image">Character Image</label>
                                    <div class="controls">
                                        @if (Model.CastImage != null)
                                        {
                                            <img src="@Url.Content(Model.CastImage)" alt="@Html.Encode(Model.FirstName)" />
                                        }
                                        <input id="castupload" type="file" name="castImage" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Thumbnail">Thumbnail Image</label>
                                    <div class="controls">
                                        @if ( Model.ThumbnailImage != null)
                                        {
                                            <img src="@Url.Content(Model.ThumbnailImage)" alt="@Html.Encode(Model.FirstName)" />
                                        }
                                        <input id="thumbupload" type="file" name="thumbImage" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Bio">Bio</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.Bio, new { @class = "span7", @height = "450px", @placeholder="Enter text..."})
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Slug">Slug</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.CastSlug, new { @class = "span7"})
                                    </div>
                                </div>
                               <div class="form-actions">
									<button type="reset" class="btn medium btn-danger">
										Cancel
									</button>
									<button type="submit" class="btn medium btn-primary">
										Save Changes
									</button>
								</div> 
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>        
    </div>
</section>
@switch (pageStatus)
{
    case "success":
        {
            <script type="text/javascript">
                //<!CDATA[
                "use strict";
                toastr.success('The character has been updated successfully.', 'Success!')
                //]]>
            </script>
    
            break;
        }
    case "fail":
        {
            <script type="text/javascript">
                //<!CDATA[
                "use strict";
                toastr.error('There was a problem updating the character', 'Uh oh!')
                //]]>
            </script>
    
            break;
        }
    default:
        {
            break;
        }
}
