﻿@model ComicMaster.CMS.Core.Models.dtoCategory

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Edit Category</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <div class = "form-horizontal" >
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="catId" value="@Model.Id" />
                            <fieldset>
                                <div class="control-group">
                                    <label for="Name">Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "span12", @name ="Name", @id = "name" })
                                        <p class="help-block"><i>The name is how it appears on your site.</i></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="Name">Description</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(m => m.Description, new { @style = "width:90%;height:30%", @name = "Description", @id = "description" })
                                        <p class="help-block"><i>The description is not prominent by default; however, some themes may show it.</i></p>
                                    </div>
                                </div>
                                <div class="form-actions">
								    <button id="updateCat" type="submit" class="btn medium btn-primary">
									    Update
								    </button>
								</div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";

    $("#updateCat").click(function() {
        var category = { id: $("#catId").val(), name: $("#name").val(), description: $("#description").val() };

        $.ajax({
            url: "/api/category/put/",
            cache: false,
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(category),
            statusCode: {
                200: function(data) {
                    toastr.success('The category has been update successfully.', 'Success!');
                },
                500: function(data) {
                    toastr.error('There was a problem updating the category.', 'Uh-oh!');
                }
            }
        });
     });
    //]>
</script>
