﻿@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span5">
            <div class="jarviswidget" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false">
                <header>
                    Add New Category
                </header>
                <div>
                    <div class="inner-spacer">
                        <div class="control-group">
                            <div class="controls">
                                <b>Name</b><br />
                                <input type="text" class="span12" id="name" placeholder="Enter category name..." />
                                <p class="help-block">The name is how it appears on your site.</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <b>Description</b><br />
                                <textarea name="description" id="category-description" style="width:100%;height:30%"></textarea>
                                <p class="help-block">
                                    The description is not prominent by default; however, some themes may show it.
                                </p>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="addCategory" class="btn btn-primary">Add New Category</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="span7">
            <div class="jarviswidget" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false">
                <header>
                    All
                </header>
                <div class=".well .light">
                    <div class="inner-spacer">
                        <table class="table table-bordered table-striped checked-in responsive has-checkbox" id="sc-table"></table>
                    </div>
                    <div class="form-actions">
                        <button id="deleteCategory" class="btn btn-primary">Delete</button>
                    </div>
                    <p style="margin-left:4px;">
                        <i>
                            <b>Note:</b><br />
                            Deleting a category does not delete the posts in that category. Instead, posts that were only assigned to 
                            the deleted category are set to the category Uncategorized.
                        </i>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="jarviswidget"></div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";

    $(document).ready(function () {        
        loadTable();

        $("#addCategory").click(function () {
            $(".loading").removeClass("hidden");

            var category = { name: $("#name").val(), description: $("#category-description").val() };

            $.ajax({
                url: "/api/category/post",
                cache: false,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(category),                
                statusCode: {
                    201: function (data) {
                        $(".loading").addClass("hidden");
                        toastr.success('The new category has been added successfully.', 'Success!');
                        loadTable();
                    },
                    500: function (data) {
                        $(".loading").addClass("hidden");
                        toastr.error('There was a problem adding the new category.', 'Uh-oh!');
                    },
                    417: function (data) {
                        $(".loading").addClass("hidden");
                        toastr.error('The request failed with HTTP Status 417: Expectation failed.', 'Uh-oh!');
                    }
                }
            });
        });

        $("#deleteCategory").click(function() {            
            var checkedstuff = $("input[name=allCats]:checked").map(function() {
                return $(this).val();
            }).get();

            bootbox.confirm("Are you sure you want to delete this category?", function(result) {
                if (result) {
                    $(".loading").removeClass("hidden");

                    for (var i = 0; i < checkedstuff.length; i++) {

                        $.ajax({
                            url: "/api/category/delete/" + checkedstuff[i],
                            type: "DELETE",
                            contentType: "application/json; charset=utf-8",
                            statusCode: {
                                204: function () {
                                    $(".loading").addClass("hidden");
                                    toastr.info("Category/Categories deleted", "Info");
                                },
                                500: function () {
                                    $(".loading").addClass("hidden");
                                }
                            }
                        });
                    }
                } else {
                    $(".loading").addClass("hidden");
                    toastr.info("Delete canceled", "Info");
                }
            });
        });

        function loadTable() {
            $(".loading").removeClass("hidden");
            DashBoardServiceCall.getPostCatgories({ url: "/api/category/get", httpType: "GET" });
            $(".loading").addClass("hidden");
        };
    });
    //]>
</script>
