﻿@model ComicMaster.CMS.Core.Models.dtoChapter

@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Chapter";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    Edit
                </header>
                <div>
                    <div class="inner-space">
                        @using (Html.BeginForm("Chapter", "DashBoard", FormMethod.Post, new { @class = "form-horizontal" }))
                            { 
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(m => m.ChapterID, new {@name = "ChapterID", @id = "chapterId" })
                                <input type="hidden" value="@ViewData[Constants.BookChapter]" id="bookId" />
                                <div class="control-group">
                                    <label class="control-label" for="FirstName">Chapter Title</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.ChapterTitle, new { @class = "span7", @name ="ChapterTitle", @id = "ChapterTitle" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ChapterNumber">Chapter Number</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.ChapterNumber, new { @class = "span7", @name = "ChapterNumber", @id = "chapterNumber" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Height">Slug</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.ChapterSlug, new { @class = "span7", @name = "ChapterSlug", @id = "chapterSlug" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"for="LastName">Book</label>
                                    <div class="controls">
                                        <select id="books" name="Books" class="span7"></select>
                                    </div>
                                </div>                                
                               <div class="form-actions">
									<button type="reset" class="btn medium btn-danger">
										Cancel
									</button>
									<button type="submit" class="btn medium btn-primary">
										Update Chapter
									</button>
								</div> 
                            </fieldset>
                            }
                    </div>
                </div>
            </div>
        </article>        
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";
    $(document).ready(function () {
        var bId = document.getElementById("bookId").value;
        var options = {};
        options.url = "/api/book/get/";
        options.type = "GET";
        options.data = "";
        options.dataType = "json";
        options.contentType = "application/json";
        options.success = function (data) {
            $("#books").empty();
            $("#books").append("<option value='Select a book'>-- Select a book --</option>");
            for (var i = 0; i < data.data.length; i++) {
                if (data.data[i].BookID == bId)
                {
                    $("#books").append("<option value=" + data.data[i].BookID + "  selected='selected'>" + data.data[i].BookTitle + "</option>");
                }
                else
                {
                    $("#books").append("<option value=" + data.data[i].BookID + ">" + data.data[i].BookTitle + "</option>");
                }
            }
            $("#books").prop("disabled", false);
        };
        options.error = function () { alert("Error retrieving books!"); };
        $.ajax(options);
    });
    //]]>
</script>

@if (ViewData[Constants.UpdateStatus] == Constants.Success)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";

        toastr.success('The chapter has been updated successfully.', 'Success!')
        document.location.reload(true);
        //]]>
    </script>
}
else if (ViewData[Constants.UpdateStatus] == Constants.Fail)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";
        toastr.error('There was a problem with the form!', 'Uh oh!')
        //]]>
    </script>
}
else if(ViewData[Constants.UpdateStatus] == Constants.Exists)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";
        toastr.warning('That chapter name already exists!', 'Uh oh!')
        //]]>
    </script>
}
else
{
}