﻿@{
    ViewBag.Title = "Chapters";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-gird" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>View All Chapters</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <div class="widget alert alert-success adjusted">
                            <a href="@Url.Action("AddChapter", "DashBoard")" class="btn btn-success">Add New</a>
                        </div>
                        <span id="chapters"></span>
                    </div>
                </div>                
            </div>
        </article>
    </div>
</section>

<script type="text/javascript">
    //<!CDATA[
    $(document).ready(function () {
        "use strict";

        $(".loading").removeClass("hidden");

        $.ajax({
            url: '/api/chapter/get/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var strResult = "<table class='table table-striped table-bordered responsive' id='dtable'>"
                            +"<thead> "
                            + "<tr>"
                            + "<th>Chapter</th>"
                            + "<th>Title</th>"
                            +"<th>Slug</th>"
                            +"<th>Actions</th>"
                            +"</tr>"
                            +"</thead>"
                            + "<tbody>"
                $.each(data.data, function (index, data) {
                    strResult += "<tr><td>" + data.ChapterNumber + "</td><td>" + data.ChapterTitle + "</td><td>" + data.ChapterSlug
                        + "</td><td style='text-align:center;'><a href='/dashboard/chapter/" + data.ChapterID
                        + "' class='btn btn-primary btn-small'>Edit</a> | <button id='deleteChapter' class='btn btn-primary btn-small' onclick='DeleteChapter("
                        + data.ChapterID + ")'>Delete</button></td></tr>";
                });
                strResult += "</tbody></table>";
                $("#chapters").html(strResult);
                $(".loading").addClass("hidden");
            },
            error: function (data) {
                $(".loading").addClass("hidden");
                toastr.error('There was a problem getting the chapters.', 'Uh-oh!');
                }
        });

    });
    //]]>
</script>

<script type="text/javascript">
    //<!CDATA[
    "use strict";
    function DeleteChapter(id) {

        bootbox.confirm("Are you sure you want to delete this chapter?", function (result) {

            $(".loading").removeClass("hidden");

            if (result) {
                $.ajax({
                    url: "/api/chapter/delete/" + id,
                    type: 'DELETE',
                    statusCode: {
                        204: function () {
                            $(".loading").addClass("hidden");
                            toastr.success('The chapter has been deleted successfully.', 'Success!');
                            document.location.reload(true);
                        },
                        417: function () {
                            $(".loading").addClass("hidden");
                            toastr.error('There was a problem deleting the chapter.', 'Uh-oh!');
                        }
                    }
                });
            }
            else
                event.preventDefault();
        });        
    }

    //]]>
</script>