﻿@model List<ComicMaster.CMS.Core.Models.dtoCast>

@{
    ViewBag.Title = "Characters";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>All Characters</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <div class="widget alert alert-success adjusted">
							@Html.ActionLink("Add New", "AddCast", "DashBoard",  null, new { @class = "btn small btn-success"})
						</div>
                        <table class="table table-striped table-bordered responsive" id="col-filter">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Slug</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr class="@(i % 2 == 1 ? "even" : "odd")">
                                        <td>@Html.Encode(Model[i].FirstName)</td>
                                        <td>@Html.Encode(Model[i].LastName)</td>
                                        <td>@Html.Encode(Model[i].Sex)</td>
                                        <td>@Html.Encode(Model[i].CastSlug)</td>
                                        <td style="text-align:center;"><a href="@Url.Action("Cast", "DashBoard", new { @id = Model[i].CastID })" class="btn btn-primary btn-small">Edit</a> | <a href="javascript:void(0);" onclick="CharacterDelete(@Model[i].CastID.ToString())" id="bootbox-confirm-js" class="btn btn-primary btn-small">Delete</a> </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </article>
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";
    function CharacterDelete(id)
    {
        bootbox.confirm("Are you sure you want to delete the character work?", function (result) {
            if (result) {
                $(".loading").removeClass("hidden");

                //Logic to delete the item
                $.ajax({
                    url: "/api/cast/delete/" + id,
                    type: 'DELETE',
                    statusCode: {
                        204: function () {
                            $(".loading").addClass("hidden");
                            toastr.success('The character has been deleted successfully.', 'Success!');
                            document.location.reload(true);
                        },
                        417: function () {
                            $(".loading").addClass("hidden");
                            toastr.error('There was a problem deleting the character.', 'Uh-oh!');
                        }
                    }
                });
            }
            else
                event.preventDefault();
        });        
    }
    //]]>
</script>
