﻿@model List<ComicMaster.CMS.Core.Models.dtoComic>

@{
    ViewBag.Title = "Comics";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
        <div class="row-fluid">            
            <article class="span12">                
                <div class="jarviswidget" id="widget-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                    <header>
                        <h2>				
				            View All Comics						
			            </h2>
                    </header>
                    <div>
                        <div>
                            <div class="inner-spacer">
                                <div class="widget alert alert-success adjusted">
                                    <a href="@Url.Action("AddComic", "DashBoard")" class="btn btn-success">Add New</a>
                                </div>
                                <table class="table table-striped table-bordered responsive" id="dtable">
                                    <thead>
                                        <tr>
                                            <th>Comic Title</th>
                                            <th>Artist</th>
                                            <th>Writer</th>
                                            <th>Post Date</th>
                                            <th>Thumb Nail</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Count; i++)
                                        {
                                            <tr class="@(i % 2 == 1 ? "even" : "odd")">
                                                <td>@Html.Encode(Model[i].Title)</td>
                                                <td>@Html.Encode(Model[i].IllustratorName)</td>
                                                <td>@Html.Encode(Model[i].WriterName)</td>
                                                <td>@Html.Encode(Model[i].ComicDate.ToLongDateString())</td>
                                                <td><img src="@Url.Content(Html.Encode(Model[i].ThumbImage))" alt="@Html.Encode(Model[i].Title)" /></td>
                                                <td style="text-align:center"><a href="@Html.ActionLink("Comic", "DashBoard", new { @id = Model[i].ComicID })" class="btn btn-primary btn-small">Edit</a> | <a href="javascript:void(0);" onclick="ComicDelete(@Model[i].ComicID.ToString())" id="bootbox-confirm-js" class="btn btn-primary btn-small">Delete</a> </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </article>	
        </div>        
    </section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";
    function ComicDelete(id)
    {
        bootbox.confirm("Are you sure you want to delete your art work?", function (reslut) {

            if (result) {
                $(".loading").removeClass("hidden");

                //Logic to delete the item
                $.ajax({
                    url: "/api/comic/delete/" + id,
                    type: 'DELETE',
                    statusCode: {
                        204: function () {
                            $(".loading").addClass("hidden");
                            toastr.success('Your artwork has been deleted successfully.', 'Success!');
                            document.location.reload(true);
                        },
                        417: function () {
                            $(".loading").addClass("hidden");
                            toastr.error('There was a problem deleting the artwork.', 'Uh-oh!');
                        }
                    }
                });
            }
            else
                event.preventDefault();
        });        
    }
    //]]>
</script>