﻿@model ComicMaster.CMS.Core.Models.dtoComic

@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span9">
            <div class="jarviswidget" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Edit Comic</h2>                    
                </header>
                <div>
                    <div class="inner-space widget-content-padding">
                        <!-- content -->
                        <ul id="myTab" class="nav nav-tabs default-tabs">
                            <li class="active">
                                <a href="#s1"  data-toggle="tab">Comic Image</a>
                            </li>
                            <li>
                                <a href="#s2" data-toggle="tab">Comic Options</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comic Characters <b class="caret"></b></a>
                                <ul class="dropdown-menu">                                    
                                    <li>
                                        <a href="#s3" data-toggle="tab">Comic Cast</a>
                                    </li>
                                    <li>
                                        <a href="#s4" data-toggle="tab">Add Cast Member</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="s1">
                                <p class="inner-space  well">
                                    <img src="@Url.Content(@Model.ComicImage)" class="img-polaroid" alt="@Model.ComicSlug" />
                                </p>
                            </div>
                            <div class="tab-pane fade" id="s2">
                                @using (Html.BeginForm("Comic", "DashBoard", FormMethod.Post, new { @class = "form-horizontal" }))        
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(m => m.ComicID, new {@name = "comicId" })
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="Title"><strong>Title: </strong></label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.Title, new { @class = "span9", @name = "Title" })
                                                <i class="icon-cog field-icon"></i><br />
                                                @Html.ValidationMessageFor(m => m.Title)
                                            </div>                        
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="BannerIamge"><strong>Banner Image: </strong></label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.BannerImage, new { @class = "span9 disabled", @name = "BannerImage", @id = "disabledInput", @disabled="" })
                                                <i class="icon-cog field-icon"></i><br />
                                                <input class="file" id="bannerComic" type="file" name="bannerImagefile" /><br />
                                                @Html.ValidationMessageFor(m => m.BannerImage)
                                            </div>                        
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="ComicImage"><strong>Comic Image: </strong></label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.ComicImage, new { @class = "span9 disabled", @name = "ComicImage", @id = "disabledInput", @disabled="" })
                                                <i class="icon-cog field-icon"></i><br />
                                                <input class="file" id="fileComic" type="file" name="comicImagefile" /><br />
                                                @Html.ValidationMessageFor(m => m.ComicImage)
                                            </div>                        
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="ThumbNailImage"><strong>Thumbnail Image: </strong></label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.ThumbImage, new { @class = "span9 disabled", @name = "ThumbnailImage", @id = "disabledInput", @disabled="" })
                                                <i class="icon-cog field-icon"></i><br />
                                                <input class="file" id="fileThumb" type="file" name="thumbImagefile" /><br />
                                                @Html.ValidationMessageFor(m => m.ThumbImage)
                                            </div>                        
                                        </div>
                                        <div class="control-group">
						                    <label class="control-label">On Home Page</label>
						                    <div class="controls">							                    
                                            @if (Model.OnHomePage == true)
                                            {
                                                <label class="radio inline">
								                    <input type="radio" value="true" name="OnHomePage" id="onHomepage" checked /> Yes &nbsp;<i class="icon-ok"></i>
                                                    &nbsp;&nbsp;&nbsp; 
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" value="false" name="OnHomePage" id="onHomePage" /> No &nbsp;<i class="icon-remove"></i>
                                                </label>                                                                                                        
                                            }
                                            else
                                            {
                                                <label class="radio inline">
								                    <input type="radio" value="true" name="OnHomePage" id="onHomepage" /> Yes &nbsp;<i class="icon-ok"></i>
                                                    &nbsp; &nbsp; &nbsp;
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" value="false" name="OnHomePage" id="onHomePage" checked /> No &nbsp;<i class="icon-remove"></i>
                                                </label>               
                                            }			                                                                                
						                    </div>
					                    </div>
                                        <div class="control-group">
                                            <label class="control-label">Last Comic</label>
                                            <div class="controls">
                                                <div class="btn-group" data-toggle="buttons-radio">
                                                    @if (Model.IsLastComic == true)
                                                    {
                                                        <label class="radio inline">
								                            <input type="radio" value="true" name="IsLastMix" id="isLastMix" checked /> Yes &nbsp;<i class="icon-ok"></i>
                                                            &nbsp; &nbsp; &nbsp;
                                                        </label>
                                                        <label class="radio inline">
                                                            <input type="radio" value="false" name="IsLastMix" id="isLastMix"  /> No &nbsp;<i class="icon-remove"></i>
                                                        </label>      
                                                    }
                                                    else
                                                    {
                                                        <label class="radio inline">
								                            <input type="radio" value="true" name="IsLastMix" id="isLastMix" /> Yes &nbsp;<i class="icon-ok"></i>
                                                            &nbsp; &nbsp; &nbsp;
                                                        </label>
                                                        <label class="radio inline">
                                                            <input type="radio" value="false" name="IsLastMix" id="isLastMix" checked /> No &nbsp;<i class="icon-remove"></i>
                                                        </label>
                                                    }
                                                </div>                        
                                            </div>
                                        </div>
                                        <div class="control-group">
						                    <label class="control-label">Archived</label>
						                    <div class="controls">
							                    <div class="btn-group" data-toggle="buttons-radio">
                                                    @if (Model.IsArchived == true)
                                                    {
                                                        <label class="radio inline">
								                            <input type="radio" value="true" name="IsArchived" id="isArchived" checked /> Yes &nbsp;<i class="icon-ok"></i>
                                                            &nbsp; &nbsp; &nbsp;
                                                        </label>
                                                        <label class="radio inline">
                                                            <input type="radio" value="false" name="IsArchived" id="isArchived"  /> No &nbsp;<i class="icon-remove"></i>
                                                        </label>
                                                    }
                                                    else
                                                    {
								                        <label class="radio inline">
								                            <input type="radio" value="true" name="IsArchived" id="isArchived" /> Yes &nbsp;<i class="icon-ok"></i>
                                                            &nbsp; &nbsp; &nbsp;
                                                        </label>
                                                        <label class="radio inline">
                                                            <input type="radio" value="false" name="IsArchived" id="isArchived" checked /> No &nbsp;<i class="icon-remove"></i>
                                                        </label>
                                                    }
			                                    </div>
						                    </div>
					                    </div>
                                        <div class="control-group">
                                            <label class="control-label" for="ChapterId">Chapter</label>
                                            <div class="controls">
                                                <select id="select01" class="span12 with-search" name="chapterId">
                                                    @if (Model.Chapters.Count != 0)
                                                    {
                                                        foreach(var chapter in Model.Chapters)
                                                        {
                                                            if ( chapter.ChapterID == Model.ChapterID)
                                                            {
                                                            <option value="@chapter.ChapterID" selected="selected">@chapter.ChapterTitle</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@chapter.ChapterID">@chapter.ChapterTitle</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="ComicSlug">Slug</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.ComicSlug, new {@class = "span9", @name = "ComicSlug"})
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="LastName"><strong>Short Description: </strong></label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.ShortDescription, new { @class = "span9", @name = "ShortDescription" })
                                                <i class="icon-cog field-icon"></i><br />
                                                @Html.ValidationMessageFor(m => m.ShortDescription)
                                            </div>                        
                                        </div>
                                        <div class="inner-space well wysihtml5-widget">
                                                <strong>Long Description</strong><br /><br />
                                                @Html.TextAreaFor(m => m.LongDescription, new { @style = "width: 100%; height: 250px;", @name = "LongDescription", @id = "wysihtml5", @placeholder = "Enter text..." })
                                                    <br />
                                                @Html.ValidationMessageFor(m => m.LongDescription)                  
                                        </div>
                                        <div class="form-actions">
				                            <button type="submit" class="btn btn-primary btn-large">Save changes</button>
				                            <button class="btn btn-large">Cancel</button>
				                        </div>                
                                    </fieldset>
                                }
                            </div>
                            <div class="tab-pane fade" id="s3">
                                <p>
                                    @if (Model.CastMembers.Count != 0)
                                    {
                                    <ul class="nav nav-list well light">
                                    @foreach (var item in Model.CastMembers)
                                    {
                                        var fullName = @item.FirstName + " " + @item.LastName;
                                        <li>
                                            <div class="cast-content">
                                                <div class="cast-sidebar">
                                                    @if (item.CastImage != null )
                                                    {
                                                    <img src="@Url.Content(item.CastImage)" class="img-rounded" alt="@item.FirstName" /><br /><br />
                                                     <p>
                                                         <a href="~/dashboard/cast/@item.CastID" class="btn btn-small btn-primary">Edit Character</a>
                                                     </p>
                                                    }
                                                    else
                                                    {
                                                    <p>No Image Set</p><br /><br />
                                                    <p>
                                                         <a href="~/dashboard/cast/@item.CastID" class="btn btn-small btn-primary">Edit Character</a>
                                                     </p>
                                                    }
                                                </div>
                                                <div class="cast-content">                                                    
                                                    <h2>@fullName</h2>
                                                    <p>@item.Bio</p>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    </ul>
                                    }
                                    else
                                    {
                                       <div class="alert alert-info adjusted alert-block">
                                           <a class="close">×</a>
											<h4 class="alert-heading">Cast Info</h4>
											<p>
                                                No cast members are selected for this comic page.
                                            </p>
                                       </div>
                                    }
                                </p>                
                            </div>
                            <div class="tab-pane fade" id="s4">
                                <p>
                                    @using (Html.BeginForm("AddComicCast", "DashBoard", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                     <input type="hidden"name="comicId" value="@Model.ComicID" />
                                    <button type="submit" class="btn btn-success">Add Character</button><br /><br />
                                    <select multiple="multiple" id="multiSelect" name="comicCast" class="span12" style="height:500px">
                                        @foreach (var cast in Model.Characters)
                                        {
                                            if (Model.CastMembers.Select(c => c.CastID).Contains(cast.CastID))
                                            {
                                            }
                                            else
                                            {
                                            var fullName = @cast.FirstName + " " + @cast.LastName;
                                            <option value="@cast.CastID">
                                                @fullName 
                                            </option>
                                            }
                                        }
                                    </select>
                                    }
                                </p>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </article>
        <article class="span3">
            <div class="jarviswidget" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Comic Info</h2>                    
                </header>
                <div class="inner-space well">
                    <div>
                        <p>
                            <strong>Thumbnail</strong><br />
                            <img src="@Url.Content(@Model.ThumbImage)" class="img-rounded" alt="@Model.ComicSlug" /><br /><br />
                            <strong>Artist: </strong> @Html.Encode(Model.IllustratorName)<br />
                            <strong>Writer: </strong> @Html.Encode(Model.WriterName) <br />
                            <strong>Book: </strong>@Html.Encode(Model.Book.BookTitle)<br />
                            <strong>Chapter: </strong>@Html.Encode(Model.Chapter.ChapterTitle)<br />
                            <strong>Posted: </strong>@Html.Encode(Model.ComicDate.ToShortDateString())
                        </p> 
                    </div>                                       
                </div>
            </div>
        </article>          
    </div>
</section>
@if (ViewData["UpdateStatus"] == Constants.Success)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";

        toastr.success('The comic has been updated successfully.', 'Success!');

        //]]>
    </script>
}
else if (ViewData["UpdateStatus"] == Constants.Fail)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";

        toastr.error('The comic update function has encountered an error.', 'Error!');

        //]]>
    </script>
}