﻿@model ComicMaster.CMS.Core.Models.dtoNewAccount
@using ComicMaster.CMS.Web;

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Create Author";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-id-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">            
                <header>
                    <h2>@ViewBag.Title</h2>
                </header>
                <div class="jarviswidget-editbox">
					<div>
						<label>Title:</label>
						<input type="text" />
					</div>
					<div>
						    <label>Styles:</label>
						    <span data-widget-setstyle="purple" class="purple-btn"></span>
						    <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
						    <span data-widget-setstyle="green" class="green-btn"></span>
						    <span data-widget-setstyle="yellow" class="yellow-btn"></span>
						    <span data-widget-setstyle="orange" class="orange-btn"></span>
						    <span data-widget-setstyle="pink" class="pink-btn"></span>
						    <span data-widget-setstyle="red" class="red-btn"></span>
						    <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
						    <span data-widget-setstyle="black" class="black-btn"></span>
					</div>
				</div>            

                <div class="inner-space">
                    @using (Html.BeginForm("CreateAccount", "DashBoard", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">First Name:</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "span9", @name = "FirstName" })
                                    <i class="icon-cog field-icon"></i><br />
                                    @Html.ValidationMessageFor(m => m.FirstName)
                                </div>                        
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="LastName">Last Name: </label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "span9", @name = "LastName" })
                                    <i class="icon-cog field-icon"></i><br />
                                    @Html.ValidationMessageFor(m => m.LastName)
                                </div>                        
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="UserName">User name:</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "span9", @name = "UserName" })
                                    <i class="icon-cog field-icon"></i><br />
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>                        
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Password">Password</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "span9", @type = "password", @name = "Password" })
                                    <i class="icon-cog field-icon"></i><br />
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>                        
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Email">Email</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "span9", @name = "Email" })
                                    <i class="icon-cog field-icon"></i><br />
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>                        
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="AuthorType">Author Type</label>
                                <div class="controls">
                                    <select id="AuthorType" class="span9" name="AuthorType">
                                        <option value="">-- Select Author Type --</option>
                                        @foreach (var item in Model.AuthorTypes)
                                        {
                                            <option value="@item.TypeID">@Html.Encode(item.Description)</option>
                                        }
                                    </select>
                                    <i class="icon-cog field-icon"></i>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Roles</label>
                                <div class="controls">
                                    @foreach (var role in Model.Roles)
                                    {
                                        <label class="checkbox">
                                            <input type="checkbox" name="@role.Value.ToString()" value="@role.Key.ToString()" />
                                            @Html.Encode(role.Value.ToString())
                                        </label>
                                    }
                                    <i class="icon-cog field-icon"></i><br />
                                    @Html.ValidationMessageFor(m => m.Roles)
                                </div>
                            </div>
                            <div class="form-actions">
			                    <button type="submit" class="btn medium btn-success" name="submit" id="submit"><i class="icon-star"></i> Submit</button>
			                    <button type="reset" class="btn medium btn-danger" onclick="ClearAll();">Cancel</button>
                                @Html.ActionLink("Back to List", "Authors", "DashBoard", null, new { @class = "btn medium btn-primary"})
		                    </div>
                        </fieldset>
                    }
                </div>                
            </div>
        </article>
    </div>
</section>

@if (ViewData["Success"].ToString() == ResponseMessage.AddUserSuccess)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";

        $document.ready(function () {
            var objInput = document.getElementsByTagName("input");
            for(var iCount = 0; iCount < objInput.length; iCount++){
                if(objInput[iCount].type == "text")
                    objInput[iCount].value = "";
            }
            toastr.success('Your new author has been added successfully.', 'Success!')
        });

        function ClearAll() {
            var objInput = document.getElementsByTagName("input");
            for (var iCount = 0; iCount < objInput.length; iCount++) {
                if (objInput[iCount].type == "text")
                    objInput[iCount].value = "";
            }
        }
        //]]>
    </script>
}
else if (ViewData["Success"].ToString() == ResponseMessage.AddUserFail)
{
    <script type="text/javascript">
        //<!CDATA[
        toastr.error('There was a problem with the form!', 'Uh oh!')
        //]]>
    </script>
}
else
{
}