﻿@model ComicMaster.CMS.Core.Models.dtoaspnet_Membership

@using ComicMaster.CMS.Common;

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Edit Author";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span9">
            <div class="jarviswidget" id="widget-id-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>View/Edit Author</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
					    <div>
						    <label>Title:</label>
						    <input type="text" />
					    </div>
					    <div>
						        <label>Styles:</label>
						        <span data-widget-setstyle="purple" class="purple-btn"></span>
						        <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
						        <span data-widget-setstyle="green" class="green-btn"></span>
						        <span data-widget-setstyle="yellow" class="yellow-btn"></span>
						        <span data-widget-setstyle="orange" class="orange-btn"></span>
						        <span data-widget-setstyle="pink" class="pink-btn"></span>
						        <span data-widget-setstyle="red" class="red-btn"></span>
						        <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
						        <span data-widget-setstyle="black" class="black-btn"></span>
					    </div>
				    </div>

                    <div class="inner-spacer">
                        <div class="control-group"><h2>@Html.Encode(Model.aspnet_Users.UserName)</h2></div>            
                            @using (Html.BeginForm("EditAccount", "DashBoard", FormMethod.Post,  new { @class = "form-horizontal themed", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="control-group">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "control-label"})
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "input-large", @name = "FirstName" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="LastName">Last Name: </label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "input-large", @name = "LastName" })
                                    </div>                        
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Email">Email</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "input-large", @name = "Email" })
                                    </div>                        
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="MobilePin">Mobile Pin</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.MobilePIN, new { @class = "input-large", @name = "MobilePIN" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Avatar">User Avatar</label>
                                    <div class="controls">
                                        <div class="avatar" >
                                            <img src="@Url.Content(Model.Author.Avatar)"  alt="@Model.aspnet_Users.UserName" class="img-polaroid" width="80px" height="80px" /><br />
                                            <label class="checkbox">
                                                @if(Model.Author.UseGravatar == true)
                                                {
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.Author.UseGravatar, new { @checked = "checked", @name = "UseGravatar"})
                                                }
                                                else
                                                {
                                                    <br />
                                                    @Html.CheckBoxFor(m => m.Author.UseGravatar, new { @checked = "" })
                                                }
                                                Use Gravatar 
                                            </label>                            
                                        </div>                        
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="FileUpload">Upload an Avatar</label>
                                        <div class="controls">
                                            <input id="fileupload" type="file" name="fileupload" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="Bio">User Bio</label>
                                        <div class="controls">
                                            @Html.TextAreaFor(m => m.Bio, new { @class = "input-large", @rows = "3" , @name = "Bio"})
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
				                    <button type="submit" class="btn btn-primary btn-large">Save changes</button>
				                    <button class="btn btn-large">Cancel</button>
				                </div>
                            }
                    </div>
                </div>
            </div>
        </article>
        <article class="span3">
            <div class="jarviswidget" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
					<h2>Comic Books</h2>                           
				</header>
                <div class="inner-spacer">
                    <ul>
                        @if (Model.Author.Books.Count < 1)
                        {
                            <li>@Html.ActionLink("Add your first book.", "AddBook", "DashBoard")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Add a new book.", "AddBook", "DashBoard")</li>
                        }

                        @foreach (var book in Model.Author.Books)
                        {
                            <li>@Html.Encode(book.BookTitle)</li>
                        }
                    </ul>
                </div>
            </div>
        </article>
        <article class="span3">
            <div class="jarviswidget" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
					<h2>Author Roles</h2>                           
				</header>
                <div class="inner-spacer">
                    <ul>
                        @foreach (var role in Model.Aspnet_Roles)
                        {
                            <li>@Html.Encode(role.RoleName)</li>
                        }
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>
@if (ViewData["UpdateStatus"] == Constants.Success)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";

        toastr.success('The account has been updated successfully.', 'Success!');

        //]]>
    </script>
}
else if (ViewData["UpdateStatus"] == Constants.Fail)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";
        toastr.error('The account update function has encountered an error.', 'Error!');

        //]]>
    </script>
}