﻿@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}
<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span4">
            <div class="jarviswidget" id="widget-id-0" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>Get up and running</header>
                <div>
                    <div class="inner-spacer widget-content-padding"> 
					<!-- content -->	
						<p>
                            Start by exploring the menu on the left. 
                            As for the basics, we suggest changing the theme, adding some pages, setup up a comic, 
                            and configuring basic settings.
                        </p>										       		
					<!-- end content -->	
					</div>
                </div>
            </div>
        </article>
        <article class="span4">
            <div class="jarviswidget" id="widget-id-1" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>Get more goodies</header>
                <div>
                    <div class="inner-spacer widget-content-padding"> 
					<!-- content -->	
						Change the way your site works and looks with themes and modules. 
                        There’s plenty to choose from in the Comic Presence Gallery. 
                        We’re always adding things, so be sure to check back often to see what’s new.
					<!-- end content -->	
					</div>
                </div>
            </div>
        </article>
        <article class="span4">
            <div class="jarviswidget" id="widget-id-2" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>Read the docs</header>
                <div>
                    <div class="inner-spacer widget-content-padding"> 
					<!-- content -->	
						Are you ready to go deeper and become an Comic Presence expert? 
                        Take a look at the Comic Presence Documentation to learn about how 
                        everything connects together and what makes Comic Presence tick.										       		
					<!-- end content -->	
					</div>
                </div>
            </div>
        </article>        
    </div>

    <div class="row-fluid">
        <article class="span4">
            <div class="jarviswidget" id="widget-id-3" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>Make friends</header>
                <div>
                    <div class="inner-spacer widget-content-padding"> 
					<!-- content -->	
						<p>
                            Find friends that share your interest in Comic Presence. 
                            There are a couple ways that you can discuss and get 
                            connected to the project including mailing lists, forums and IRC.
                        </p>
					<!-- end content -->	
					</div>
                </div>
            </div>
        </article>
        <article class="span4">
            <div class="jarviswidget" id="widget-id-4" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>Contribute back</header>
                <div>
                    <div class="inner-spacer widget-content-padding"> 
					<!-- content -->	
						<p>
                            Help grow Comic Presence. We encourage 
                            contributions of all sorts, including code submissions, 
                            documentation, translations, feature recommendations, 
                            and more.Here are some ways to give back to the project.
                        </p>
					<!-- end content -->	
					</div>
                </div>
            </div>
        </article>
        <article class="span4">
            <div class="jarviswidget" id="widget-id-5" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>Stay up to date</header>
                <div>
                    <div class="inner-spacer widget-content-padding"> 
					<!-- content -->	
						<h3>Advisory</h3>
                            You are currently on the latest version of Comic Presence.										       		
					<!-- end content -->	
					</div>
                </div>
            </div>
        </article>
    </div>
</section>
 
<script type="text/javascript">
    if (!ismobile) {
        $(function () {
            /* show tooltips */
            $.jGrowl("Welcome to Comic Comic Presence! <strong>Version 1.0</strong>", {
                header: 'Comic Presence!',
                sticky: false,
                life: 5000,
                speed: 500,
                theme: 'with-icon',
                position: 'top-right', //this is default position
                easing: 'easeOutBack',
                animateOpen: {
                    height: "show"
                },
                animateClose: {
                    opacity: 'hide'
                }
            });
        });
    }
</script>

