﻿@model ComicMaster.CMS.Core.Models.dtoLink

@{
    ViewBag.Title = "View/Edit Link";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    Link
                </header>
                <div>
                    <div class="inner-space">
                        @using (Html.BeginForm("Link", "DashBoard", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
                        {
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.LinkId);
                                <div class="control-group">
                                    <label class="control-label" for="Alternate Name">Link Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.AlternateName, new { @class = "span7", @name = "AlternateName", @id = "alternateName" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="URL">URL</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.ExternalUrl,  new { @class = "span7", @name = "ExternalUrl", @id = "externalUrl" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ImagePath">Image</label>
                                    <div class="controls">
                                        <img src="@Url.Content(Model.ImagePath)" alt="@Url.Content(Model.AlternateName)" /><br />
                                        <input class="file" id="fileImage" type="file" name="ImagePath" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="reset" class="btn medium btn-danger">Cancel</button>
                                    <button type="submit" class="btn medium btn-primary">Update Link</button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script type="text/javascript">
    //<!CDATA[
    $(document).ready(function () {
        $.ajax({
            statusCode: {
                201: function (data) {
                    toastr.info('Your link has been updated.', 'Info');
                },
                400: function (data) {
                    toastr.warning('No image was selected for the upload.', 'Missing Image.');
                },
                500: function (data) {
                    toastr.error('There was a problem updating the link.', 'Uh-oh!');
                }
            }
        });
    });
    //]]>
</script>
