﻿@model List<ComicMaster.CMS.Core.Models.dtoLink>

@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
        <div class="row-fluid">            
            <article class="span12">                
                <div class="jarviswidget" id="widget-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                    <header>
                        <h2>				
				            View All Comics						
			            </h2>
                    </header>
                    <div>
                        <div>
                            <div class="inner-spacer">
                                <div class="widget alert alert-success adjusted">
                                    <a href="@Url.Action("AddLink", "DashBoard")" class="btn btn-success">Add New</a>
                                </div>
                                <table class="table table-striped table-bordered responsive" id="dtable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Image</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Count; i++)
                                        {
                                            <tr class="@(i % 2 == 1 ? "even" : "odd")">
                                                <td>@Html.Encode(Model[i].AlternateName)</td>
                                                <td><a href="@Model[i].ExternalUrl" target="_blank"><img src="@Url.Content(Model[i].ImagePath)" alt="@Model[i].AlternateName" /></a></td>
                                                <td style="text-align:center"><a href="@Html.ActionLink("Link", "DashBoard", new { @id = Model[i].LinkId })" class="btn btn-primary btn-small">Edit</a> | <a href="javascript:void(0);" onclick="LinkDelete(@Model[i].LinkId.ToString())" id="bootbox-confirm-js" class="btn btn-primary btn-small">Delete</a> </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </article>	
        </div>        
    </section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";
    function LinkDelete(id)
    {
        bootbox.confirm("Are you sure you want to delete the external link?", function (result) {
            if (result) {
                $(".loading").removeClass("hidden");
                //Logic to delete the item
                $.ajax({
                    url: "/api/link/delete/" + id,
                    type: 'DELETE',
                    statusCode: {
                        204: function () {
                            $(".loading").addClass("hidden");
                            toastr.success('The external link has been deleted successfully.', 'Success!');
                            document.location.reload(true);
                        },
                        417: function () {
                            $(".loading").addClass("hidden");
                            toastr.error('There was a problem deleting the external link.', 'Uh-oh!');
                        }
                    }
                });
            }
            else
                event.preventDefault();
        });        
    }
    //]]>
</script>
