﻿@model ComicMaster.CMS.Core.Models.dtoMenu

@using ComicMaster.CMS.Common.Security.Sessions;

@{
    Layout = null;        
    
     CP_Session _session = (CP_Session)HttpContext.Current.Session["AdminUser"]; 
}

<aside>						
	<!-- search box -->
	<div class="main-search">        
		<label for="main-search"><i class="icon-search"></i></label>
	    <input id="main-search" type="text" placeholder="Search...">
    </div>
	<div class="divider"></div>
	<!-- end search box -->
										
	<!-- aside item: Mini profile -->
	<div class="my-profile">
        Welcome @_session.FirstName!
		<a href="/dashboard/editaccount/@_session.AuthorId" class="my-profile-pic">
            <img src="@Url.Content(_session.Avatar)" alt="@User.Identity" height="36" width="36" />
		</a>
		<span class="first-child"></span>
		<a href="/dashboard/editaccount/@_session.AuthorId">Edit Profile</a>
	</div>
	<div class="divider"></div>
	<!-- end aside item: Mini profile -->

	<!-- aside item: Menu -->
	<div class="sidebar-nav-fixed">
						
		<ul class="menu" id="accordion-menu-js">
			<li class="">
				<a href="javascript:void(0);"><i class="icon-off"></i>Master <span class="badge">2</span></a>
				<ul>
                    <li>
						<a href="/dashboard"><i class="cus-application-home"></i>Dashboard</a>
					</li>
					<li>
						<a href="~/"><i class="cus-house"></i>Visit Site</a>
					</li>
					<li>
                        <a href="javascript:void(0);" class="logout-js" data-rel="../">Logout</a>
					</li>
				</ul>
			</li>
			<li class="@(Request.RawUrl.Contains("article") ? "current" : string.Empty)">
				<a href="javascript:void(0);"><i class="cus-newspaper"></i>Articles<span class="badge">@Model.Articles.Count.ToString()</span></a>                    
                    <ul>
                        <li><a href="~/dashboard/articles" class="@(Request.RawUrl.Contains("article") ? "expanded" : string.Empty)"><i class="cus-newspaper"></i>All Articles</a></li>
					    @if(Model.Articles.Count >0)
                        {
                            foreach (var item in Model.Articles)
                             {
                                <li><a href="~/dashboard/article/@Html.Raw(item.NewsId).ToString()" class=""><i class="cus-doc-text-image"></i>@Html.Raw(item.Title)</a></li>
                             }
                        }
				    </ul>
			</li>
			<li class="@(Request.RawUrl.Contains("author") || Request.RawUrl.Contains("account") ? "current" : string.Empty)">
				<a href="javascript:void(0);"><i class="cus-group"></i>Authors<span class="badge">@Model.Authors.Count.ToString()</span></a>
                <ul>
                    <li>
						<a href="~/dashboard/authors" class="@(Request.RawUrl.Contains("author") || Request.RawUrl.Contains("account") ? "expanded" : string.Empty)"><i class="icon-group"></i>View all</a>
					</li>
                @if(Model.Authors.Count > 0)
                {				
                    foreach(var item in Model.Authors)
                    {
                        var name = @Html.Raw(item.FirstName) + " " + @Html.Raw(item.LastName);
					<li>                        
						<a href="~/dashboard/editaccount/@Html.Raw(item.AuthorId).ToString()" target="_self"><i class="cus-user-silhouette"></i>@name</a>
					</li>
                    }				
                }
                </ul>
			</li>
            <li class="@(Request.RawUrl.Contains("blogs") || Request.RawUrl.Contains("blog") ? "current" : string.Empty)">
                <a href="javascript:void(0);"><i class="cus-blog"></i>Blogs<span class="badge">@Model.Blogs.Count.ToString()</span></a>
                <ul>
                    <li><a href="~/dashboard/blogs" class="@(Request.RawUrl.Contains("blogs") || Request.RawUrl.Contains("blog") ? "expanded" : string.Empty)"><i class="cus-blog"></i>All Blogs</a></li>
                    @if (Model.Blogs.Count > 0)
                    {
                        foreach (var item in Model.Blogs.OrderBy(b => b.BlogTitle))
                        {
                            <li>
                                <a href="~/dashboard/posts/@Html.Raw(item.Id).ToString()" target="_self" class="@(Request.RawUrl.Contains("posts") || Request.RawUrl.Contains("post") ? "expanded" : string.Empty)"><i class="cus-blog"></i>@Html.Raw(item.BlogTitle)</a>
                            </li>
                        }
                    }
                </ul>
            </li> 
            <li class="@(Request.RawUrl.Contains("books") || Request.RawUrl.Contains("book") ? "current" : string.Empty)">
                <a href="javascript:void(0);"><i class="cus-books "></i>Books<span class="badge">@Model.Books.Count.ToString()</span></a>                
				<ul>
                    <li><a href="~/dashboard/books" class="@(Request.RawUrl.Contains("books") || Request.RawUrl.Contains("book") ? "expanded" : string.Empty)"><i class="cus-books"></i>All Books</a></li>
                    @if (Model.Books.Count > 0)
                    {
                        foreach (var item in Model.Books.OrderBy(b => b.BookTitle))
                        {
					        <li>                        
						        <a href="~/dashboard/book/@Html.Raw(item.BookID).ToString()" target="_self" class="@(Request.RawUrl.Contains("books") || Request.RawUrl.Contains("book") ? "expanded" : string.Empty)"><i class="cus-bookmark-book-open"></i>@Html.Raw(item.BookTitle)</a>
					        </li>
                        }
                    }
				</ul>
            </li>
            <li class="@(Request.RawUrl.Contains("characters") || Request.RawUrl.Contains("cast") ? "current" : string.Empty)">
				<a href="javascript:void(0);"><i class="cus-films"></i>Cast Members<span class="badge">@Model.CastMembers.Count.ToString()</span></a>                
				<ul>
                    <li><a href="~/dashboard/characters" class="@(Request.RawUrl.Contains("characters") || Request.RawUrl.Contains("cast") ? "expanded" : string.Empty)"><i class="cus-films"></i>All Characters</a></li>
                    @if (Model.CastMembers.Count > 0)
                    {
                        foreach (var item in Model.CastMembers.OrderBy(c => c.LastName))
                        {
                            var name = item.FirstName + " " + item.LastName;
                            if(item.Sex == "F")
                            {
					        <li>                        
						        <a href="~/dashboard/cast/@Html.Raw(item.CastID).ToString()" target="_self" class="@(Request.RawUrl.Contains("characters") || Request.RawUrl.Contains("cast") ? "expanded" : string.Empty)"><i class="cus-user-female"></i>@Html.Raw(name)</a>
					        </li>
                            }
                            else
                            {
                            <li>                        
						        <a href="~/dashboard/cast/@Html.Raw(item.CastID).ToString()" target="_self" class="@(Request.RawUrl.Contains("characters") || Request.RawUrl.Contains("cast") ? "expanded" : string.Empty)"><i class="cus-user"></i>@Html.Raw(name)</a>
					        </li>
                            }
                        }
                    }
				</ul>               
			</li>
            <li class="@(Request.RawUrl.Contains("categories") || Request.RawUrl.Contains("category") ? "current" : string.Empty)">
                <a href="~/dashboard/categories/"><i class="cus-script"></i>Categories</a>                
            </li>
            <li class="@(Request.RawUrl.Contains("chapters") || Request.RawUrl.Contains("chapter") ? "current" : string.Empty)">
				<a href="javascript:void(0);"><i class="cus-inbox"></i>Chapters<span class="badge">@Model.Chapters.Count.ToString()</span></a>                
				<ul>
                    <li><a href="~/dashboard/chapters" class="@(Request.RawUrl.Contains("chapters") || Request.RawUrl.Contains("chapter") ? "expanded" : string.Empty)"><i class="cus-inbox"></i>All Chapters</a></li>
                    @if (Model.Chapters.Count > 0)
                    {
                        foreach(var item in Model.Chapters)
                        {
					    <li>                        
						    <a href="~/dashboard/chapter/@Html.Raw(item.ChapterID).ToString()" target="_self" class="@(Request.RawUrl.Contains("chapters") || Request.RawUrl.Contains("chapter") ? "expanded" : string.Empty)"><i class="cus-report"></i>@Html.Raw(item.ChapterTitle)</a>
					    </li>
                        }
                    }
				</ul>
               
			</li>
            <li class="@(Request.RawUrl.Contains("comics") || Request.RawUrl.Contains("comic") ? "current" : string.Empty)">
				<a href="javascript:void(0);"><i class="cus-photo-album"></i>Comics<span class="badge">@Model.Comics.Count.ToString()</span></a>               
				<ul>
                    <li><a href="~/dashboard/comics/" class="@(Request.RawUrl.Contains("comics") || Request.RawUrl.Contains("comic") ? "expanded" : string.Empty)"><i class="cus-photo-album"></i>All Comics</a> </li>
                    @if(Model.Comics.Count > 0)
                    {
                        foreach(var item in Model.Comics)
                        {
					    <li>                        
						    <a href="~/dashboard/comic/@Html.Raw(item.ComicID).ToString()" target="_self" class="@(Request.RawUrl.Contains("comics") || Request.RawUrl.Contains("comic") ? "expanded" : string.Empty)"><i class="cus-photo"></i>@Html.Raw(item.Title)</a>
					    </li>
                        }
                    }
				</ul>                
			</li>
            <li class="@(Request.RawUrl.Contains("links") || Request.RawUrl.Contains("link") ? "current" : string.Empty)">
				<a href="javascript:void(0);"><i class="icon-link"></i>Links<span class="badge">@Model.Links.Count.ToString()</span></a>                
				<ul>
                    <li>
                        <a href="~/dashboard/links" class="@(Request.RawUrl.Contains("links") || Request.RawUrl.Contains("link") ? "expanded" : string.Empty)"><i class="icon-link"></i>All Links</a>
                    </li>
                    @if (Model.Links.Count > 0)
                    {
                        foreach (var item in Model.Links)
                        {
					    <li>                        
						    <a href="~/dashboard/link/@Html.Raw(item.LinkId).ToString()" target="_self" class="@(Request.RawUrl.Contains("links") || Request.RawUrl.Contains("link") ? "expanded" : string.Empty)"><i class="cus-page-white-get"></i>@Html.Raw(item.AlternateName)</a>
					    </li>
                        } 
                    }
				</ul>
			</li>
            <li class="@(Request.RawUrl.Contains("media") || Request.RawUrl.Contains("media") ? "current" : string.Empty)">
                <a href="javascript:void(0);"><i class="cus-media-player-small-blue"></i>Media</a>
                <ul>
                    <li>@Html.ActionLink("Media Library", "MediaLibrary", "DashBoard")</li>
                    <li>@Html.ActionLink("Media Types", "MediaTypes","DashBoard")</li>
                </ul>
            </li>
            <li class="@(Request.RawUrl.Contains("roles") || Request.RawUrl.Contains("role") ? "current" : string.Empty)">
				<a href="javascript:void(0);"><i class="cus-application-key"></i>Roles<span class="badge">@Model.Roles.Count.ToString()</span></a>                
				<ul>
                    <li></li>
                    @if(Model.Roles.Count > 0)
                    {
                    foreach(var item in Model.Roles)
                        {
					    <li>                        
						    <a href="javascript:void(0);" target="_self" class="@(Request.RawUrl.Contains("roles") || Request.RawUrl.Contains("role") ? "expanded" : string.Empty)"><i class="cus-bullet-key"></i>@Html.Raw(item.RoleName)</a>
					    </li>
                        }
                    } 
				</ul>                
			</li>
            <li class="@(Request.RawUrl.Contains("settings") || Request.RawUrl.Contains("systemerrors") ? "current" : string.Empty)">
                <a href="javascript:void(0);"><i class="cus-cog"></i>System</a>
                <ul>
                    <li><a href="~/dashboard/settings/" target="_self" class="@(Request.RawUrl.Contains("settings") || Request.RawUrl.Contains("systemerrors") ? "expanded" : string.Empty)"><i class="cus-monitor"></i>Site Settings</a></li>
                    <li><a href="~/dashboard/systemerrors/" target="_self" class="@(Request.RawUrl.Contains("settings") || Request.RawUrl.Contains("systemerrors") ? "expanded" : string.Empty)"><i class="cus-bug"></i>System Errors</a></li>
                </ul>
            </li>
            <li class="@(Request.RawUrl.Contains("tags") || Request.RawUrl.Contains("tag") ? "current" : string.Empty)">
                <a href="~/dashboard/tags/"><i class="cus-tag-blue"></i>Tags</a>
            </li>
            <li class="@(Request.RawUrl.Contains("transcripts") || Request.RawUrl.Contains("transcript") ? "current" : string.Empty)">
				<a href="javascript:void(0);"><i class="cus-bookmark-book-open"></i>Transcripts<span class="badge">@Model.Transcripts.Count.ToString()</span></a>   
				<ul>
                    <li>
                        <a href="~/dashboard/transcripts/" class="@(Request.RawUrl.Contains("transcripts") || Request.RawUrl.Contains("transcript") ? "expanded" : string.Empty)"><i class="cus-bookmark-book-open"></i>All Transcripts</a>
                    </li>
                    @if (Model.Transcripts.Count > 0)
                    {
                        foreach (var item in Model.Transcripts)
                        {
					    <li>                        
						    <a href="~/dashboard/transcript/@Html.Raw(item.TranscriptId).ToString()" target="_self" class="@(Request.RawUrl.Contains("transcripts") || Request.RawUrl.Contains("transcript") ? "expanded" : string.Empty)"><i class="cus-bookmark-document"></i>@Html.Raw(item.Comic.Title)</a>
					    </li>
                        }
                    }
				</ul>
			</li>
		</ul>						
	</div>
	<div class="divider"></div>
	<!-- end aside item: Menu -->
</aside>
