﻿@model List<ComicMaster.CMS.Core.Models.dtoMediaLibrary>

@{
    ViewBag.Title = "Media Library";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false">
                <header>
                    <h2>All Media Items</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <div class="widget alert alert-info adjusted">
                            <a href="@Url.Action("AddMedia", "DashBoard")" class="btn btn-primary" >Add New</a>
                        </div>
                        <table class="table table-striped table-bordered responsive" id="dtable">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>File</th>
                                    <th>Author</th>
                                    <th>Uploaded</th>
                                    <th>Actions</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr class="@(i % 2 == 1 ? "even" : "odd")">
                                            <td><input type="checkbox" name="mediaItem" value="@Model[i].MediaId" /></td>
                                            <td><img src="@Url.Content(Model[i].ThumbPath)" alt="@Model[i].Slug" /></td>
                                            <td>@Html.Encode(Model[i].Name)</td>
                                            <td>@Html.Encode(Model[i].Author)</td>
                                            <td>@Html.Encode(((DateTime)Model[i].Uploaded).ToLongDateString())</td>
                                            <td style="text-align:center;"><a href="@Url.Action("MediaItem", "DashBoard", new {@id = Model[i].MediaId })" class="btn btn-primary btn-small">Edit</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="widget alert alert-info adjusted">
                            <h4>Note</h4>
                            <p>
                                Deleted media items have their data associations removed but the physical file remains in tact.
                            </p>
                            <button id="deleteMediaItem" class="btn btn-small btn-info" style="margin-top: 20px">Delete Media Item</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
    //!<CDATA[
    "use strict";

    $('#deleteMediaItem').click(function() {
        var checkedMedia = $('input[name=mediaItem]:checked').map(function() {
            return $(this).val();
        }).get();

        bootbox.confirm("Are you sure you want to delete the selected media item?", function(result) {
            if (result) {
                $(".loading").removeClass("hidden");

                for (var i = 0; i < checkedMedia; i++) {
                    $.ajax({
                        url: "/api/mediaitem/delete/" + checkedMedia[i],
                        type: "DELETE",
                        contentType: "application/json; charset=utf-8",
                        statusCode: {
                            200: function() {
                                $(".loading").addClass("hidden");
                                location.reload();
                            },
                            500: function() {
                                $(".loading").addClass("hidden");
                                location.reload();
                            }
                        }
                    });
                }
            }
        });
    });
    //]>
</script>