﻿@model List<ComicMaster.CMS.Core.Models.dtoMediaType>

@{
    ViewBag.Title = "Media Types";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false">
                <header>
                    <h2>All Media Items</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <div class="widget alert alert-info adjusted">
                            <a href="@Url.Action("AddMediaType", "DashBoard")" class="btn btn-primary" >Add New</a>
                        </div>
                        <table class="table table-striped table-bordered responsive" id="dtable">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Media Type</th>
                                    <th>Slug</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            @if (item.Description != "Miscellaneous"){
                                            <td><input type="checkbox" name="allTypes" value="@item.TypeId" /></td>
                                            }
                                            else{                   
                                                <td>&nbsp;</td>                         
                                            }
                                            <td>@Html.Encode(item.Description)</td>
                                            <td>@Html.Encode(item.Slug)</td>
                                            <td style="text-align:center;"><a href="@Url.Action("MediaType", "DashBoard", new { @id = item.TypeId })" class="btn btn-primary btn-small">Edit</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="widget alert alert-info adjusted">
                            <h4 class="alert-heading">Note</h4>
                            <p>
                                Deleted media types have their associated items assigned to a type of miscellaneous.
                            </p>
                            <button id="deleteType" class="btn btn-small btn-info" style="margin-top: 20px">
                                Delete Media Type
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
    //!<CDATA[
    "use strict";

    $("#deleteType").click(function () {
        var checkedTypes = $("input[name=allTypes]:checked").map(function () {
            return $(this).val();
        }).get();

        bootbox.confirm("Are you sure you want to delete the selected media type(s)?", function (result) {
            if (result) {
                $(".loading").removeClass("hidden");

                for (var i = 0; i < checkedTypes; i++) {

                    $.ajax({
                        url: "/api/mediatype/delete/" + checkedTypes[i],
                        type: "DELETE",
                        contentType: "application/json; charset=utf-8",
                        statusCode: {
                            200: function () {
                                $(".loading").addClass("hidden");
                                location.reload();
                            },
                            500: function () {
                                $(".loading").addClass("hidden");
                                location.reload();
                            }
                        }
                    });
                }
            } 
        });
    });
    //]>
</script>
