﻿@model ComicMaster.CMS.Core.Models.dtoMediaType

@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Edit Media Type";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Edit Tag</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        @using (Html.BeginForm("MediaType", "DashBoard", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="typeId" name="TypeId" value="@Model.TypeId" />
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="Name">Type Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Description, new { @class = "span12", @name = "Description", @id = "description" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Slug">Slug</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Slug, new { @class = "span12", name="Slug", @id = "slug" })
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn medium btn-primary">
                                        Save
                                    </button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
@if (ViewData["AddStatus"].ToString() == Constants.Success)
{
    <script type="text/javascript">
        toastr.success('The new media type has been updated successfully.', 'Success!');
    </script>
}
else if (ViewData["AddStatus"].ToString() == Constants.Fail)
{
    <script type="text/javascript">
        toastr.error('There was a problem updating the new media type.', 'Uh-oh!');
    </script>
}
else
{
}