﻿@model ComicMaster.CMS.Core.Models.dtoMediaLibrary

@using ComicMaster.CMS.Common;

@{
    ViewBag.Title = "Edit Media";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span8">
            <div class="jarviswidget" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Edit Media</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <form class="form-horizontal themed" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="MediaId" name="MediaId" value="@Model.MediaId" />
                            <input type="hidden" id="MediaTypeId" name="MediaType" value="@Model.MediaType" />
                            <input type="hidden" id="Author" name="Author" value="@Model.Author" />
                            <input type="hidden" id="Dimensions" name="Dimensions" value="@Model.Dimensions" />
                            <input type="hidden" id="Extention" name="Extention" value="@Model.Extention" />
                            <input type="hidden" id="ThumbPath" name="ThumbPath" value="@Model.ThumbPath" />
                            <input type="hidden" id="ImagePath" name="ImagePath" value="@Model.ImagePath" />
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="Name">Image Name:<span class="req">*</span></label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "span12", @name ="Name", @id = "Name" })
                                    </div>                                    
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Name">Image Name:<span class="req">*</span></label>
                                    <div class="controls">
                                        <img src="@Url.Content(Model.ImagePath)" alt="@Model.Slug" />
                                    </div>                                    
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ImagePath">Media File:<span class="req">*</span></label>
                                    <div class="controls">
                                        <input class="file" id="fileInput" name="fileInput" type="file" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Slug">Slug:</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Slug, new { @class = "span12", @name ="Slug", @id = "Slug" })
                                    </div>                                    
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="MediaType">Media Type:<span class="req">*</span></label>
                                    <div class="controls">
                                        <select id="MediaType" name="MediaType"></select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn medium btn-warning">
                                        Save Edits
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <article class="span4">
            <div class="jarviswidget well light" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Image Info</h2>
                </header>
                <div class="inner-spacer widget-content-padding">
                    <i class="icon-calendar"></i> Uploaded: <b>@Html.Encode(Model.Uploaded.ToLongDateString())</b><br />
                    Gallery: <b>@Html.Encode(Model.GalleryName)</b><br />
                    File type: <b>@Html.Encode(Model.Extention)</b><br />
                    Dimensions: <b>@Html.Encode(Model.Dimensions)</b>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";

    $(document).ready(function () {

        DashBoardServiceCall.getMediaTypes({ url: "/api/mediatype/get/", httpType: "get", d: $('#MediaTypeId').val() });

        $('#MediaType').val($('#MediaTypeId').val());

        $('#MediaType').change(function () {
            var selected = $('#MediaType option:selected').val();
            if (selected != '-- Select media type --') {
                $('#MediaTypeId').val($('#MediaType option:selected').val());
            }
        });
    });
    //]>
</script>
@if (ViewData[Constants.UpdateStatus].ToString() == Constants.Success)
{
    <script type="text/javascript">
        toastr.success('The media item has been updated successfully.', 'Success!');
    </script>
}
else if (ViewData[Constants.UpdateStatus].ToString() == Constants.Fail)
{
    <script type="text/javascript">
        toastr.error('There was a problem updating the media item.', 'Uh-oh!');
    </script>
}
else if (ViewData[Constants.UpdateStatus].ToString() == Constants.InvalidFormData)
{
    <script type="text/javascript">
        toastr.warning('There was a problem with the form please check that all fields are entered.', 'Form Error!');
    </script>
}
else
{
}
