﻿@model ComicMaster.CMS.Core.Models.dtoPost
@using ComicMaster.CMS.Common;

@{
    var usedTags = ViewData["PostTags"].ToString();
    var postedTags = string.Empty;
    var usedCategory = ViewData["UsedCategory"].ToString();
    var postStatus = string.Empty;

    Model.LongDescription = System.Web.HttpUtility.HtmlDecode(Model.LongDescription);
    
    if (Model.Published == true)
    {
        postStatus = "True";
    }
    else
    {
        postStatus = "False";
    }
    
    ViewBag.Title = "Edit Post";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span8">
            <div class="jarviswidget" data-widget-deletebutton="false" id="widget-1d-1" data-widget-fullscreenbutton="false" data-widget-editbutton="false">
                <header>
                    Edit Post
                </header>
                <div>
                    <div class="inner-space">                        
                        <form method="post">
                            <fieldset>
                                <input type="hidden" id="blogId" name="BlogId" value="@Model.BlogId" />
                                <input type="hidden" id="postCategory" name="CategoryId" value="@usedCategory" />
                                <input type="hidden" id="postCategoryName" name="Category" value="@Model.Category.Name" />
                                <input type="hidden" id="postTags" name="Tags" value="@usedTags" />
                                <input type="hidden" id="postStatus" name="Status" value="@Model.Status" />
                                <input type="hidden" id="postVisibility" name="Visibility" value="@Model.Visibility" />
                                <input type="hidden" id="postPublish" name="PostedOn" value="@Model.PostedOn" />
                                <input type="hidden" id="published" name="Published" value="@postStatus" />

                                <div id="controlTitle" class="control-group">
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Title, new { @class = "span12", @name = "Title", @id = "title", @placeholder = "Enter title here..." })
                                        <p class="help-block">Enter a title for your post.</p>
                                        <label id="titleError" for="Title" class="error hidden">A post title is required</label>                                        
                                    </div>
                                </div>
                                <div id="controlContent" class="control-group">
                                    <div class="controls">
                                        @Html.TextAreaFor(m => m.LongDescription, new { @style = "width: 100%; height: 250px;", @name = "LongDescription", @id = "wysihtml5", @placeholder = "Enter text..." })
                                        <p class="help-block">Enter your post body here</p>
                                        <label for="Content" class="error hidden" id="contentError">Post content is required</label>                                        
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.ShortDescription, new { @class = "span12", @name = "ShortDescription", @id = "shortDescription" })
                                        <p class="help-block">Short description for your post.</p>                                        
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Meta, new { @class = "span12", @name = "Meta", @id = "meta", @placeholder = "Enter meta text here..." })
                                        <p class="help-block">Place Meta information here. This helps with post visibility.</p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.UrlSlug, new { @class = "span12", @name = "UrlSlug", @id = "UrlSlug" })
                                        <p class="help-block">If you don't set the URL slug, the title of the post will be used.</p>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="reset" class="btn medium btn-danger">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn medium btn-primary" id="saveForm">
                                        Save
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <article class="span4">
            <div class="jarviswidget" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                <header>
                    Publish
                </header>
                <div class="inner-spacer">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion1" href="#collapse1a">
                                    <i class="icon-map-marker"></i> Status <span id="status"><b>Draft</b></span></a>
                            </div>
                            <div id="collapse1a" class="accordion-body in collapse" style="height: auto;">
                                <div class="accordion-inner">
                                    <select id="draftStatus">
                                        @if (Model.Status == "Draft")
                                        {
                                            <option id="no-status">-- Select Draft Status ---</option>
                                            <option id="Draft" selected="selected">Draft</option>
                                            <option id="Live">Live</option>
                                            <option id="Pending Review">Pending Review</option>
                                        }
                                        else if (Model.Status == "Published")
                                        {
                                            <option id="no-status">-- Select Draft Status ---</option>
                                            <option id="Draft">Draft</option>
                                            <option id="Live" selected="selected">Live</option>
                                            <option id="Pending Review">Pending Review</option>
                                        }
                                        else
                                        {
                                            <option id="no-status">-- Select Draft Status ---</option>
                                            <option id="Draft">Draft</option>
                                            <option id="Live">Live</option>
                                            <option id="Pending Review" selected="selected">Pending Review</option>
                                        }                                        
                                    </select>
                                    <button type="button" id="btnStatus">Ok</button>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
                                    <i class="icon-eye-open"></i> Visibility <span id="Visibility"><b>Public</b></span> </a>
                            </div>
                            <div id="collapse2" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    @if (Model.Visibility.ToLowerInvariant() == "public")
                                    {                                        
                                        <input type="radio" name="visible" value="Private" /><span>Private</span><br />
                                        <input type="radio" name="visible" value="Public" checked /><span>Public</span><br />
                                    }
                                    else
                                    {
                                        <input type="radio" name="visible" value="Private" checked /><span>Private</span><br />
                                        <input type="radio" name="visible" value="Public" /><span>Public</span><br />
                                    }
                                    <br />
                                    <button type="button" id="postVisiblity">Ok</button>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
                                    <i class="icon-calendar"></i> Publish <span id="Publish"><b>immediately</b></span> </a>
                            </div>
                            <div id="collapse3" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <div class="input-append date" id="datepicker-js" data-date="@DateTime.Now.ToShortDateString()s" data-date-format="mm-dd-yyyy">
                                        <input class="datepicker-input" size="16" type="text" value="@DateTime.Now.ToShortDateString()" placeholder="Select a date">
                                        <span class="add-on"><i class="cus-calendar-2"></i></span>
                                    </div>
                                    <br />
                                    <button type="button" id="publishDate">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="jarviswidget well light" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    Category
                </header>
                <div class="inner-spacer widget-content-padding">
                    <ul id="myTab" class="nav nav-tabs default-tabs">
                        <li class="active">
                            <a href="#s1" data-toggle="tab">Categories</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab">Most used</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="s1">
                            <p>
                                <select id="categories"></select>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="s2">
                            <p>
                                <select id="mostUsed"></select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jarviswidget" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    Tags
                </header>
                <div class="inner-space widget-content-padding">
                    <input type="text" name="Tags" id="tags" class="span9" />
                    <button type="button" class="btn btn-medium" style="margin-bottom: 9px;" id="addTags">Add</button>
                    <i>Separate tags with commas</i>
                </div>
                <div class="inner-spacer">
                    <div class="accordion" id="accordion1">
                        <div class="accordion-heading">
                            <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">Choose from a list of tags
                            </a>
                        </div>
                        <div id="collapse1" class="accordion-body in collapse" style="height: auto;">
                            <div class="accordion-inner">
                                <ul id="tagList" class="custom-list"></ul>
                                <br />
                                <button id="addTagsToPost" class="btn btn-primary" onclick="$.jGrowl('The tag(s) have been added', { header: 'Info' });">Add to Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";

    $(document).ready(function() {

        LoadDropDowns();

        $("#status").html('<b>' + $("#postStatus").val() + '</b>');
        $("#Visibility").html('<b>' + $("#postVisibility").val() + '</b>');
        $("#Publish").html('<b>' + $("#postPublish").val() + '</b>');

        $("#btnStatus").click(function () {            
            var pStatus = $("#draftStatus").val();
            $("input[id=postStatus]").val(pStatus);
            $("#status").html('<b>' + pStatus + '</b>');
            $("#postStatus").val(pStatus);
        });

        $("#saveForm").click(function () {
            if ($("#wysihtml5").val() == "") {
                $("#controlContent").addClass("error");
                $("#contentError").removeClass("hidden");

                if ($("#title").val() == "") {
                    $("#controlTitle").addClass("error");
                    $("#titleError").removeClass("hidden");
                    return false;
                }

                return false;
            }
            return true;
        });
        
        $("#addTagsToPost").click(function () {
            var tags = $("input:checkbox[name=Tags]:checked").map(function () {
                return $(this).val();
            }).get();
            $("#postTags").val(tags);
        });

        $("#postVisiblity").click(function () {
            var visible = $("input:radio[name=visible]:checked").val();
            $("#postVisibility").val(visible);
            $("#Visibility").html('<b>' + visible + '</b>');
        });

        $("#publishDate").click(function () {
            var pubDate = $(".datepicker-input").val();
            $("#postPublish").val(pubDate);
            $("#Publish").html('<b>' + pubDate + '</b>');
        });

        $("#categories").change(function () {
            var thatOne = $("#categories option:selected").val();
            if (thatOne != "select category") {
                $("#postCategory").val($("#categories option:selected").val());
            }
        });

        $("#mostUsed").change(function () {
            var thisOne = $("#mostUsed option:selected").val();
            if (thisOne != "select category") {
                $("#postCategory").val($("#mostUsed option:selected").val());
            }
        });

        $("#addTags").click(function () {
            var newTags = $("#tags").val();

            $.ajax({
                url: "/api/tag/post/",
                type: "POST",
                data: JSON.stringify(newTags),
                contentType: "application/json; charset=utf-8",
                statusCode: {   
                    200: function (data) {
                        toastr.success('The new tag(s) have been added successfully.', 'Success!');
                        getTags();
                    },
                    500: function (data) {
                        toastr.error('There was a problem adding the new tag(s).', 'Uh-oh!');
                    }
                }
            });
        });
    });

    function LoadDropDowns() {
        $("#categories").empty();
        
        var usedIds = $("#postTags").val().split(',');

        DashBoardServiceCall.getPostCatgories({ url: "/api/category/get/", httpType: "GET", d: $("#postCategory").val() });
        DashBoardServiceCall.getUsedTags({ url: "/api/tag/menu/", httpType: "GET", d: usedIds});
    };

    //]>
</script>
@if (ViewData["UpdateStatus"].ToString() == Constants.UpdateStatus)
{
    <script type="text/javascript">
        toastr.success('The post has been updated successfully.', 'Success!');
    </script>
}
else if (ViewData["UpdateStatus"].ToString() == Constants.Fail)
{
    <script type="text/javascript">
        toastr.error('There was a problem updating the new post.', 'Uh-oh!');
    </script>
}
else
{
}