﻿@model List<ComicMaster.CMS.Core.Models.dtoPost>

@using System;

@{
    ViewBag.Title = "Blog Posts";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Posts </h2>
                </header>
                <div>
                    <div class="inner-spacer">                        
                        <div class="widget alert alert-success adjusted">
                            <a href="@Url.Action("AddPost", "DashBoard")" class="btn btn-success">Add New</a>
                        </div>
                        <table class="table table-striped table-bordered responsive" id="col-filter">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Modified</th>
                                    <th>Posted Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="bootbox-js">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr class="@(i % 2 == 1 ? "even" : "odd")">
                                        <td>@Html.Encode(Model[i].Title)</td>
                                        <td>@Html.Raw(Model[i].Category.Name)</td>
                                        <td>@Html.Encode(Model[i].Modified)</td>
                                        <td style="text-align:center">@Html.Encode(((DateTime)Model[i].PostedOn).ToLongDateString())</td>
                                        @if (Model[i].Published == true)
                                        {
                                            <td style="text-align:center">Published</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center">Draft</td>
                                        }                                            
                                        <td style="width: 20%; text-align: center;"><a href="@Url.Action("Post", "DashBoard", new { @id = Model[i].Id })" class="btn btn-primary btn-small">Edit</a> | <a href="javascript:void(0);" onclick="deletePost(@Model[i].Id.ToString())" id="bootbox-confirm-js" class="btn btn-primary btn-small">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
        //<!CDATA[
        "use strict";
        function deletePost(id)
        {
            bootbox.confirm("Are you sure you want to delete this blog post?", function (result) {
                if (result) {
                    $(".loading").removeClass("hidden");

                    $.ajax({
                        url: "/api/post/delete/" + id,
                        type: 'DELETE',
                        statusCode: {
                            204: function () {
                                $(".loading").addClass("hidden");
                                toastr.success('The blog post has been deleted successfully.', 'Success!');
                                document.location.reload(true);
                            },
                            417: function () {
                                $(".loading").addClass("hidden");
                                toastr.error('There was a problem deleting the blog post.', 'Uh-oh!');
                            }
                        }
                    });
                }
                else
                    event.preventDefault();
            });            
        }    
        //]]>
</script>
