﻿@{
    Layout = null;
}

<aside class="right">					
	<!-- date picker -->
	<div id="datepicker"></div>
	<div class="divider"></div>
	<!-- end date picker -->
    <!-- aside buttons -->
	<div class="aside-buttons">
        @Html.ActionLink("Add New Book", "AddBook", "DashBoard", null, new { @class = "btn btn-success" })
        @Html.ActionLink("Add New Chapter", "AddChapter", "DashBoard", null, new { @class = "btn btn-danger" })
        @Html.ActionLink("Add New Character", "AddCast", "Dashboard", null, new { @class = "btn btn-warning" }) 
        @Html.ActionLink("Add New Comic", "AddComic", "DashBoard", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Add Transcript", "AddTranscript", "Dashboard", null, new { @class = "btn purple-btn" })
	</div>
	<div class="divider"></div>
	<!-- end aside buttons -->
</aside>