﻿@using ComicMaster.CMS.Common;

@model ComicMaster.CMS.Core.Models.dtoConfiguration

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Update Site Settings</h2>
                </header>
                <div>
                    <div class="inner-space">
                        @using (Html.BeginForm("Settings", "DashBoard", FormMethod.Post, new { @class = "form-horizontal" }))        
                           {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">Avatar Size</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.AdminAvatarSize, new { @class = "span7", @name ="AdminAvatarSize", @id = "adminAvatarSize" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Character Path</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Characters, new { @class = "span7", @name ="Characters", @id = "characters" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Character Thumbs</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.CharacterThumbs, new { @class = "span7", @name ="CharacterThumbs", @id = "characterThumbs" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Comic Banner</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.ComicBanner, new { @class = "span7", @name ="ComicBanner", @id = "comicBanner" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Comic Thumb Path</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.ComicThumbNailPath, new { @class = "span7", @name ="ComicThumbNailPath", @id = "comicThumbNailPath" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Default Post Time</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.DefaultPostTime, new { @class = "span7", @name ="DefaultPostTime", @id = "defaultPostTime" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Link Images</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.LinkImages, new { @class = "span7", @name ="LinkImages", @id = "linkImages" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Site Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.SiteName, new { @class = "span7", @name ="SiteName", @id = "siteName" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Site Slogan</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.SiteSlogan, new { @class = "span7", @name ="SiteSlogan", @id = "siteSlogan" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Site Theme</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.SiteTheme, new { @class = "span7", @name ="AdminAvatarSize", @id = "adminAvatarSize" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">User Avatar</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.UserAvatar, new { @class = "span7", @name ="UserAvatar", @id = "userAvatar" })
                                    </div>
                                </div>                       
                                <div class="form-actions">
                                    <button type="reset" class="btn medium btn-danger">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn medium btn-primary">
                                        Save Changes
                                    </button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
@if (ViewData["UpdateStatus"] == Constants.Success)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";

        toastr.success('The site settings have been updated successfully.', 'Success!');

        //]]>
    </script>
}
else if (ViewData["UpdateStatus"] == Constants.Fail)
{
    <script type="text/javascript">
        //<!CDATA[
        "use strict";

        toastr.error('The site settings update function has encountered an error.', 'Error!');

        //]]>
    </script>
}