﻿@{
    ViewBag.Title = "System Errors";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-id-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>Recent Errors</header>
                <div>
                    <div class="inner-spacer widget-content-padding">
                        <iframe src="@Url.Content("~/elmah.axd")" width="100%" height="500" seamless ></iframe>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
