﻿@model ComicMaster.CMS.Core.Models.dtoTag

@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    <h2>Edit Tag</h2>
                </header>
                <div>
                    <div class="inner-spacer">
                        <div class = "form-horizontal" >
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="tagId" value="@Model.TagId" />
                            <fieldset>
                                <div class="control-group">
                                    <label for="Name">Tag Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.TagName, new { @class = "span12", @name ="Name", @id = "name" })
                                        <p class="help-block"><i>The name is how it appears on your site.</i></p>
                                    </div>
                                </div>
                                <div class="form-actions">
								    <button id="updateTag" type="submit" class="btn medium btn-primary">
									    Update
								    </button>
								</div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";

    $("#updateTag").click(function() {
        var tag = { tagId: $("#tagId").val(), tagName: $("#name").val()};

        $.ajax({
            url: "/api/tag/put/",
            cache: false,
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(tag),
            statusCode: {
                200: function(data) {
                    toastr.success('The tag has been update successfully.', 'Success!');
                },
                417: function (data) {
                    toastr.warning('An expected value was not sent.', 'Warning!');
                },
                500: function(data) {
                    toastr.error('There was a problem updating the tag.', 'Uh-oh!');
                }
            }
        });
     });
    //]>
</script>
