﻿@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span5">
            <div class="jarviswidget" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false">
                <header>
                    Add New Tag
                </header>
                <div>
                    <div class="inner-spacer well light">
                        <h4>Popular Tags</h4>
                        <p id="popTags"></p>
                    </div>
                    <div class="inner-spacer">
                        <div class="control-group">
                            <div class="controls">
                                <b>Name</b><br />
                                <input type="text" class="span12" id="name" placeholder="Enter category name..." />
                                <p class="help-block">The name is how it appears on your site. Enter tag names comma separated.</p>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="addTag" class="btn btn-primary">Add New Tag</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="span7">
            <div class="jarviswidget" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false">
                <header>
                    All
                </header>
                <div class=".well .light">
                    <div class="inner-spacer">
                        <table class="table table-bordered table-striped checked-in responsive has-checkbox" id="sc-table"></table>
                    </div>
                    <div class="form-actions">
                        <button id="deleteTag" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="jarviswidget"></div>
</section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";

    $(document).ready(function () {
        
        loadTable();

        $("#addTag").click(function () {
            $(".loading").removeClass("hidden");
            var tag = $("#name").val();

            $.ajax({
                url: "/api/tag/post",
                type: "POST",
                data: JSON.stringify(tag),
                contentType: "application/json; charset=utf-8",                               
                statusCode: {
                    200: function (data) {
                        toastr.success('The new tag has been added successfully.', 'Success!');
                        loadTable();                        
                    },
                    500: function (data) {
                        toastr.error('There was a problem adding the new tag.', 'Uh-oh!');
                    },
                    417: function (data) {
                        toastr.error('The request failed with HTTP Status 417: Expectation failed.', 'Uh-oh!');
                    }
                }
            });
        });

        $("#deleteTag").click(function() {            
            var checkedstuff = $("input[name=allTags]:checked").map(function() {
                return $(this).val();
            }).get();

            bootbox.confirm("Are you sure you want to delete the selected tag(s)?", function(result) {
                if (result) {
                    $(".loading").removeClass("hidden");
                    for (var i = 0; i < checkedstuff.length; i++) {

                        $.ajax({
                            url: "/api/tag/delete/" + checkedstuff[i],
                            type: "DELETE",
                            contentType: "application/json; charset=utf-8",
                            statusCode: {
                                200: function () {
                                    $(".loading").addClass("hidden");
                                    toastr.info("Tag deleted", "Info");
                                    loadTable();
                                },
                                500: function () {
                                    $(".loading").addClass("hidden");
                                    toastr.error('There was a problem deleting the tag.', 'Uh-oh!');
                                }
                            }
                        });
                    }
                } else {
                    toastr.info("Delete canceled", "Info");
                }
            });
        });

        function loadTable() {
            $(".loading").removeClass("hidden");
            DashBoardServiceCall.getPostTag({ url: "/api/tag/menu", httpType: "GET" });
            $(".loading").addClass("hidden");
        };
    });
    
    //]>
</script>
