﻿@{
    Layout = null;
}

<div class="btn-group hidden-phone">
	<a href="javascript:void(0)" class="btn btn-inverse btn-small">My Tasks</a>
	<a href="javascript:void(0)" class="btn btn-inverse dropdown-toggle btn-small" data-toggle="dropdown"><span class="caret"></span></a>
					
	<div class="dropdown-menu toolbar pull-right">
		<h3>Showing All Tasks</h3>
		<ul class="progressbox">
			<li>
				<strong><i class="online pull-left"></i>Urgent Bug Fixes</strong><b>Complete</b>
				<div class="progress progress-success slim"><div class="bar" style="width: 100%;"></div></div>
			</li>
			<li>
				<strong>Added functionality</strong><b>70%</b>
				<div class="progress progress-info slim"><div class="bar" style="width: 70%;"></div></div>
			</li>
			<li>
				<strong>CAD Changes</strong><b>50%</b>
				<div class="progress progress-info slim"><div class="bar" style="width: 50%;"></div></div>
			</li>
			<li>
				<strong>Marketing Campaign Mocup</strong><b>22%</b>
				<div class="progress progress-danger slim"><div class="bar" style="width: 22%;"></div></div>
			</li>
			<li>
				<strong><i class="offline pull-left"></i>Proposal</strong><b>Pending</b>
				<div class="progress progress-info slim"><div class="bar" style="width: 0%;"></div></div>
			</li>
		</ul>
	</div>
</div>