﻿@model List<ComicMaster.CMS.Core.Models.dtoTranscript>

@{
    ViewBag.Title = "Transcripts";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
        <div class="row-fluid">            
            <article class="span12">                
                <div class="jarviswidget" id="widget-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                    <header>
                        <h2>				
				            View All Transcripts						
			            </h2>
                    </header>
                    <div>
                        <div>
                            <div class="inner-spacer">
                                <div class="widget alert alert-success adjusted">
                                    <a href="@Url.Action("AddTranscript", "DashBoard")" class="btn btn-success">Add New</a>
                                </div>
                                <table class="table table-striped table-bordered responsive" id="dtable">
                                    <thead>
                                        <tr>
                                            <th>Parent Comic</th>
                                            <th>Author</th>
                                            <th>Slug</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Count; i++)
                                        {
                                            var fullName = Model[i].Author.FirstName + " " + Model[i].Author.LastName;
                                            
                                            <tr class="@(i % 2 == 1 ? "even" : "odd")">
                                                <td>@Html.Encode(Model[i].Comic.Title)</td>
                                                <td>@Html.Encode(fullName)</td>
                                                <td>@Model[i].Slug</td>
                                                <td style="text-align:center"><a href="@Url.Action("Transcript", "DashBoard", new { @id = Model[i].TranscriptId })" class="btn btn-primary btn-small">Edit</a> | <a href="javascript:void(0);" onclick="TranscriptDelete(@Model[i].TranscriptId.ToString())" id="bootbox-confirm-js" class="btn btn-primary btn-small">Delete</a> </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </article>	
        </div>        
    </section>
<script type="text/javascript">
    //<!CDATA[
    "use strict";
    function TranscriptDelete(id)
    {
        bootbox.confirm("Are you sure you want to delete the transcript?", function (result) {
            if (result) {
                $(".loading").removeClass("hidden");
                //Logic to delete the item
                $.ajax({
                    url: "/api/transcript/delete/" + id,
                    type: 'DELETE',
                    statusCode: {
                        204: function () {
                            $(".loading").addClass("hidden");
                            toastr.success('The transcript has been deleted successfully.', 'Success!');
                            document.location.reload(true);
                        },
                        417: function () {
                            $(".loading").addClass("hidden");
                            toastr.error('There was a problem deleting the transcript.', 'Uh-oh!');
                        }
                    }
                });
            }
            else
                event.preventDefault();
        });
        
    }
    //]]>
</script>
