﻿@model ComicMaster.CMS.Core.Models.dtoTranscript

@{
    ViewBag.Title = "View/Edit Transcript";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="widget-grid" class="">
    <div class="row-fluid">
        <article class="span12">
            <div class="jarviswidget" id="widget-1d-0" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false">
                <header>
                    Edit
                </header>
                <div>
                    <div class="inner-space">
                        @using (Html.BeginForm("Transcript", "DashBoard", FormMethod.Post, new { @class = "form-horizontal" }))
                            { 
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(m => m.TranscriptId, new {@name = "TranscriptId", @id = "transcriptId" })
                                @Html.HiddenFor(m => m.AuthorId, new { @id = "hAuthorId" })
                                @Html.HiddenFor(m => m.ParentComic, new { @id = "hParentComic" })
                                <div class="control-group">
                                    <label class="control-label" for="FirstName">Transcript Text</label>
                                    <div class="controls">
                                        @Html.Raw(HttpUtility.HtmlDecode(@Html.TextAreaFor(m => m.ScriptText, new { @style = "width: 100%; height: 250px;", @name = "ScriptText", @id = "wysihtml5", @placeholder = "Enter text..." }).ToHtmlString()))
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Height">Slug</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Slug, new { @class = "span7", @name = "Slug", @id = "slug" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"for="LastName">Author</label>
                                    <div class="controls">
                                        <select id="authors" name="AuthorId" class="span7"></select>
                                    </div>
                                </div> 
                                <div class="control-group">
                                    <label class="control-label"for="LastName">Comic</label>
                                    <div class="controls">
                                        <select id="comics" name="ParentComic" class="span7"></select>
                                    </div>
                                </div>                                
                               <div class="form-actions">
									<button type="reset" class="btn medium btn-danger">
										Cancel
									</button>
									<button type="submit" class="btn medium btn-primary">
										Update Transcript
									</button>
								</div> 
                            </fieldset>
                            }
                    </div>
                </div>
            </div>
        </article>        
    </div>
</section>

<script type="text/javascript">
    //<!CDATA[
    "use strict";

    $(document).ready(function () {
        $.ajax({
            statusCode: {
                201: function (data) {
                    toastr.info('Your transcript has been updated.', 'Info');
                },
                500: function (data) {
                    toastr.error('There was a problem updating the transcript.', 'Uh-oh!');
                }
            }
        });
    });

    var _hParentComic = document.getElementById("hParentComic").value;
    var _hAuthorId = document.getElementById("hAuthorId").value;

    var _options = {};
    _options.url = "/api/comic/get";

    _options.type = "GET";
    _options.dataType = "json";
    _options.contentType = "application/json";
    _options.success = function (data) {
        $("#comics").empty();
        $("#comics").append("<option value='Select comic'>-- Select comic --</option>");
        for (var i = 0; i < data.data.length; i++) {
            if (data.data[i].ParentComic = _hParentComic) {
                $("#comics").append("<option value=" + data.data[i].ComicID + " selected='selected'>" + data.data[i].Title + "</option>");
            }
            else {
                $("#comics").append("<option value=" + data.data[i].ComicID + ">" + data.data[i].Title + "</option>");
            }
        }
    };
    _options.error = function () {
        alert("Error retrieving comics!");
    };

    $.ajax(_options);

    var options = {};
    options.url = "/api/author/get";

    options.type = "GET";
    options.dataType = "json";
    options.contentType = "application/json";
    options.success = function (data) {
        $("#authors").empty();
        $("#authors").append("<option value='Select author'>-- Select author --</option>");
        for (var i = 0; i < data.data.length; i++) {
            if (data.data[i].AuthorId == _hAuthorId) {
                $("#authors").append("<option value=" + data.data[i].AuthorId + " selected='selected'>" + data.data[i].Author.FullName + "</option>");
            }
            else {
                $("#authors").append("<option value=" + data.data[i].AuthorId + ">" + data.data[i].Author.FullName + "</option>");                
            }
        }
    };
    options.error = function () { alert("Error retrieving authors!"); };
    $.ajax(options);
    //]]>
</script>
