﻿div.DTFC_LeftFootWrapper table {
  border-top: none;
}
ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}
ul.DTTT_dropdown.dropdown-menu a {
  color: #333 !important;
}
div.DTTT .btn {
  color: #333 !important;
  font-size: 12px;
}
div.DTTT .btn:hover {
  text-decoration: none !important;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}
.dt-footer {
  color: #333;
  background-color: #EFEFEF;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  border-top: 1px solid #CDCDCD;
  border-radius: 0px 0px 2px 2px;
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-radius: 0px 0px 2px 2px;
}
.dt-footer div.dataTables_info {
  padding-top: 3px;
  padding-left: 3px;
}
.dt-footer .span6 {
  min-height: auto;
}
div.dataTables_paginate {
  float: right;
  margin: 0;
}
.dataTable tbody tr.even td.sorting_1 {
  background-color: #f9f9f9;
}
.dataTable tbody tr.odd td.sorting_1 {
  background-color: #ededed;
}
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dt-footer .pagination ul  > li  > a:hover,
.dt-footer .pagination ul  > li  > span:hover {
  background: #f3f3f3;
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  background: linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#f4f4f4', GradientType=0);
}
.dt-header,
.wysihtml5-widget,
.chat-widget,
.jarviswidget.login #main-content {
  background-color: #EFEFEF;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#f2f2f2), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: -moz-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: -ms-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: -linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#fafafa', GradientType=0);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
}
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: white;
}
div.dataTables_scrollFoot table {
  border-top: none;
}
.dt-header {
  padding: 8px 5px 4px 8px;
}
.dt-header label {
  font-size: 12px;
}
.dt-header div.dataTables_filter label {
  float: left;
}
.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #08C;
  color: white;
}
div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}
div.dataTables_scrollBody table {
  border-top: none;
  margin-bottom: 0 !important;
}
.dt-header input,
#col-filter thead input {
  padding: 2px 6px !important;
  font-size: 12px;
  line-height: normal;
}
div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
table.table {
  clear: both;
  margin-bottom: 0px !important;
  max-width: none !important;
  position: relative;
}
table.table thead .sorting {
  background: url('../../images/dash/DT/sort_both.png') no-repeat center right;
}
table.table thead .sorting_desc_disabled {
  background: url('../../images/dash/DT/sort_desc_disabled.png') no-repeat center right;
}
table.table thead .sorting_desc {
  background: url('../../images/dash/DT/sort_desc.png') no-repeat center right;
}
table.table thead .sorting_asc_disabled {
  background: url('../../images/dash/DT/sort_asc_disabled.png') no-repeat center right;
}
table.table thead .sorting_asc {
  background: url('../../images/dash/DT/sort_asc.png') no-repeat center right;
}
div.dataTables_info {
  padding-top: 8px;
}
div.dataTables_length label {
  float: left;
  text-align: left;
}
div.dataTables_length select {
  width: 75px;
}
.dataTable thead tr,
.table thead tr,
.fc-border-separate thead tr {
  background-color: #EFEFEF;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#f2f2f2), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: -moz-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: -ms-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: -linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#fafafa', GradientType=0);
}
.dt-footer .pagination ul  > .disabled  > span,
.dt-footer .pagination ul  > .disabled  > a,
.dt-footer .pagination ul  > .disabled  > a:hover,
.dt-footer .pagination ul  > .active  > a,
.dt-footer .pagination ul  > .active  > span {
  background: #f3f3f3;
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  background: linear-gradient(top, #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#f4f4f4', GradientType=0);
  color: #999;
}
.inner-spacer .table-bordered td,
.inner-spacer .table-bordered td {
  border-color: #E7E7E7;
  font-size: 12px;
  padding: 6px;
}
.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
  background-color: #0075b0 !important;
}
div.dataTables_filter label {
  float: right;
}
.dt-footer .pagination ul  > li:first-child  > a,
.dt-footer .pagination ul  > li:first-child  > span {
  border-left-width: 1px;
}
.inner-spacer .table thead th,
.fc-border-separate tr.fc-last th {
  height: auto;
  font-size: 10px;
  padding: 5px 10px 2px;
  color: #666;
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
}
.inner-spacer .table-bordered th:first-child,
.inner-spacer .table-bordered td:first-child {
  border-left: 0px;
}
.dt-header,
.dt-footer {
  padding: 7px 8px 2px 6px;
  box-sizing: border-box;
}
#col-filter {
  border-top-width: 0px;
}
#col-filter thead .second td {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FAFAFA;
  border-bottom: 1px solid #CDCDCD;
}
#col-filter thead tr th {
  border-bottom-width: 0px !important;
}
#col-filter thead input {
  width: 100%;
  height: 26px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.inner-spacer .table tr:first-child td {
  border-top: 0px;
}
.inner-spacer .table-bordered {
  border-bottom-width: 0px;
}
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}
div.DTTT_print_info.modal {
  height: 150px;
  margin-top: -75px;
  text-align: center;
}
table.dataTable th:active {
  outline: none;
}
.dt-footer .pagination ul  > li  > a,
.dt-footer .pagination ul  > li  > span {
  padding: 2px 10px;
  line-height: 19px;
  font-size: 12px;
  border: 1px solid silver;
  border-left-width: 0px;
  background: #ffffff;
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 89%, #f9f9f9 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 89%, #f9f9f9 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 89%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 89%, #f9f9f9 100%);
  background: linear-gradient(top, #ffffff 0%, #f3f3f3 89%, #f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9', GradientType=0);
}
.inner-spacer .table-bordered,
.inner-spacer .table-bordered thead:first-child tr:first-child  > th:first-child,
.inner-spacer .table-bordered tbody:first-child tr:first-child  > td:first-child,
.inner-spacer .table-bordered thead:last-child tr:last-child  > th:first-child,
.inner-spacer .table-bordered tbody:last-child tr:last-child  > td:first-child,
.inner-spacer .table-bordered tfoot:last-child tr:last-child  > td:first-child {
  border-right: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}
div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}
table.DTTT_selectable tbody tr {
  cursor: pointer;
  *cursor: hand;
}
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
}
div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin-bottom: 0 !important;
}
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
