﻿/*

Uniform Theme: Aristo
Version: 1.1
By: 280North / Ported by Josh Pyles
License: Creative Commons Share Alike
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.button.active span,
div.button:active span {
  background-position: right -654px;
  cursor: default;
}
div.uploader.disabled {
  background-position: 0 -398px;
}
div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
div.uploader.disabled span.action {
  background-position: right -462px;
  color: #aaa;
}
div.radio,
div.radio span,
div.radio input {
  width: 23px;
  height: 25px;
}
div.checker.focus span,
div.checker:hover span {
  background-position: -46px -320px;
}
input.text,
input.email,
input.search,
input.tel,
input.url,
input.datetime,
input.date,
input.month,
input.week,
input.time,
input.datetime-local,
input.number,
input.color,
input.password,
select.uniform-multiselect,
textarea.uniform {
  outline: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #777;
}
label.radio {
  margin-bottom: 5px;
  display: block;
}
div.button.active,
div.button:active {
  background-position: 0 -782px;
}
div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
  background-position: 0 -814px;
}
div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -184px -343px;
}
div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -161px -343px;
}
.highContrastDetect {
  background: url("../../images/dash/uniform-skin/bg-input-aristo.png") repeat-x 0 0;
  width: 0px;
  height: 0px;
}
div.uploader {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
div.uploader span.filename {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  cursor: default;
  height: 24px;
  margin: 4px 0 4px 4px;
  line-height: 24px;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  color: #777;
  font-size: 11px;
}
div.uploader span.action {
  height: 32px;
  line-height: 32px;
  width: 90px;
  text-align: center;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px !important;
  background-color: #fff;
  font-weight: bold;
  color: #1c4257;
}
div.uploader input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  cursor: default;
  width: 100%;
  height: 100%;
}
div.radio.focus span.checked,
div.radio:hover span.checked {
  background-position: -138px -343px;
}
div.radio.focus span,
div.radio:hover span {
  background-position: -46px -36px -343px;
}
div.checker:active span.checked,
div.checker.active span.checked {
  background-position: -115px -320px;
}
div.selector.disabled span,
div.selector.disabled:active span,
div.selector.disabled.active span {
  background-position: right -128px;
}
div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: 0 -256px;
}
div.selector.focus span,
div.selector.hover span,
div.selector:hover span {
  background-position: right -64px;
}
div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -69px -320px;
}
div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -115px -343px;
}
div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -161px -320px;
}
div.checker {
  position: relative;
  margin-right: 0;
}
div.checker span.checked {
  background-position: -92px -320px;
}
div.checker input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  background-position: 0 -320px;
}
div.selector.focus,
div.selector.hover,
div.selector:hover {
  background-position: 0 -224px;
}
div.selector:active span,
div.selector.active span {
  background-position: right -32px;
}
.selector,
.checker,
.button,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
  background-image: url("../../images/dash/uniform-skin/sprite-aristo.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
div.selector.disabled span {
  color: #bbb;
}
div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
  background-position: right -686px;
}
div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -590px;
}
div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -526px;
}
div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -207px -343px;
}
div.radio:active span,
div.radio.active span {
  background-position: -23px -18px -343px;
}
div.button:active span {
  color: #555;
}
div.button {
  background-position: 0 -750px;
  height: 32px;
  cursor: pointer;
  position: relative;
}
div.button span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 1;
  text-align: center;
  background-position: right -622px;
  height: 22px;
  margin-left: 13px;
  padding: 9px 15px 0 2px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -184px -320px;
}
div.checker:active span,
div.checker.active span {
  background-position: -23px -320px;
}
div.selector.disabled,
div.selector.disabled:active,
div.selector.disabled.active {
  background-position: 0 -288px;
}
div.button.disabled {
  background-position: 0 -846px;
}
div.button.disabled span {
  background-position: right -718px;
  cursor: default;
  color: #bbb;
}
div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -69px -343px;
}
div.selector:active,
div.selector.active {
  background-position: 0 -192px;
}
div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -558px;
}
div.radio {
  position: relative;
  margin-right: 0;
}
div.radio span.checked {
  background-position: -92px -343px;
}
div.radio input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
}
div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  background-position: 0 -343px;
}
div.selector.fixedWidth {
  width: 190px;
}
div.selector.fixedWidth span {
  width: 155px;
}
div.checker input,
input.search,
input.search:active {
  -moz-appearance: none;
  -webkit-appearance: none;
}
div.button:disabled {
  background-position: 0 -846px;
}
div.button:disabled span {
  background-position: right -718px;
  color: #bbb;
  cursor: default;
}
div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0 -430px;
}
div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -207px -320px;
}
div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -138px -320px;
}
div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -96px;
}
.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
  outline: 0;
}
div.button a,
div.button button,
div.button input {
  position: absolute;
  display: none;
}
div.checker,
div.checker span,
div.checker input {
  width: 23px;
  height: 25px;
  margin-right: 2px;
}
div.selector {
  background-position: 0 -160px;
  line-height: 32px;
  height: 32px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden;
  margin-left: -5px;
  font-weight: bold;
  color: #464545;
  font-size: 12px;
}
div.selector select {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  height: 24px;
  top: 4px;
  left: 0px;
  width: 100%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: solid 1px #fff;
}
div.selector span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-position: right 0;
  height: 32px;
  line-height: 32px;
  padding-right: 25px;
  cursor: pointer;
  width: 100%;
  display: block;
  color: #666;
  text-shadow: 0 1px 0 #fff;
}
.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button * {
  margin: 0;
  padding: 0;
}
