﻿@model IPagedList<ComicMaster.CMS.Core.Models.dtoComic>

@using MvcPaging;

@{
    ViewBag.Title = "Comic Archive";
    var currentIndex = Model.PageIndex;
}

<h1>Comic Archive</h1>
<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">
            Comic Archive
        </h3>
    </div>
    <div class="panel-body">
        @if (Model.Count <= 0)
        {
            <p class="well">
                <span class="lead">No comics</span>
            </p>
        }
        else
        {
            foreach (ComicMaster.CMS.Core.Models.dtoComic item in Model)
            {
                var cId = @item.ComicID;
                <div class="lead">@Html.Raw(item.Title)</div>
                if (Model.HasPreviousPage)
                {
                    var pageNum = @Model.PageNumber - 1;
                    
                    <a href="/comic/archives/@pageNum" title="next">
                        <img src="@Url.Content(item.ComicImage)" alt="@Html.Raw(item.ComicSlug)" />
                    </a>
                }
                else
                {
                    <img src="@Url.Content(item.ComicImage)" alt="@Html.Raw(item.ComicSlug)" />
                }
            }
        }
        <ul id="comic-pager">
            <li>
                @if (Model.IsLastPage)
                {   <a href="javascript:void(0)" class="first-link" style="cursor:default">           
                        <img src="@Url.Content("~/images/btn-first-disabled.png")" alt="First" />
                    </a>                  
                }
                else
                {
                    <a href="/comic/archives/@Model.PageCount" class="first-link">                    
                        <img src="@Url.Content("~/images/btn-first.png")" alt="First" class="firstPagerMenu" />
                    </a>                    
                }
            </li>
            <li>
                
                @if (Model.HasNextPage)
                {
                    var pageNum = @Model.PageNumber + 1;
                    <a href="/comic/archives/@pageNum">
                        <img src="@Url.Content("~/images/btn-previous.png")" alt="Previous" class="previousPagerMenu" />
                    </a>
                }
                else
                {
                    <a href="javascript:void(0)" style="cursor:default">
                        <img src="@Url.Content("~/images/btn-previous-disabled.png")" alt="Previous" />
                    </a>
                }
                
            </li>
            <li>
                <span class="page-divider">
                    <img src="~/images/m.png" alt="Merciless" />
                </span>
            </li>
            <li>
                @if (Model.HasPreviousPage)
                {
                    var prevNum = Model.PageNumber - 1;
                    <a href="/comic/archives/@prevNum">
                        <img src="@Url.Content("~/images/btn-next.png")" alt="Next" class="nextPagerMenu" />
                    </a>
                }
                else
                {
                    <a href="javascript:void(0)" style="cursor:default">
                        <img src="@Url.Content("~/images/btn-next-disabled.png")" alt="Next" />
                    </a>
                }
            </li>
            <li>
                @if (Model.IsFirstPage)
                {
                    <a href="javascript:void(0)" style="cursor:default">
                        <img src="@Url.Content("~/images/btn-lastest-disabled.png")" alt="Latest" />
                    </a>
                }
                else
                {
                    <a href="/comic/archives/1">
                        <img src="@Url.Content("~/images/btn-lastest.png")" alt="Latest" class="latestPagerMenu" />
                    </a>
                }
            </li>
        </ul>
        <br />
        <br />
        <h2>
            <a href="/comic/@Model[0].ComicSlug" class="pull-right">Comments</a>
        </h2>
    </div>
</div>

<script type="text/javascript">
    //!<CDATA[
    "use strict";
    $(document).ready(function() {
        $(".firstPagerMenu").hover(function() {
            $(this).attr("src", "/images/btn-first-hover.png");
        }, function() {
            $(this).attr("src", "/images/btn-first.png");
        });

        $(".previousPagerMenu").hover(function() {
            $(this).attr("src", "/images/btn-previous-hover.png");
        }, function() {
            $(this).attr("src", "/images/btn-previous.png");
        });

        $(".nextPagerMenu").hover(function() {
            $(this).attr("src", "/images/btn-next-hover.png");
        }, function() {
            $(this).attr("src", "/images/btn-next.png");
        });

        $(".latestPagerMenu").hover(function() {
            $(this).attr("src", "/images/btn-lastest-hover.png");
        }, function() {
            $(this).attr("src", "/images/btn-lastest.png");
        });
    });

    //]>
</script>