﻿@using ComicMaster.CMS.Common.Controls.Pager.NewsPager;
@using System.Globalization;

@model ComicMaster.CMS.Common.Controls.Pager.NewsPager.IPagedList <ComicMaster.CMS.Core.Models.dtoNews>



    <div id="NewsGrid">
        @foreach (var article in Model)
        {
            int day = ((DateTime)article.NewsDate).Day;
            int year = ((DateTime)article.NewsDate).Year;
            var time = ((DateTime)article.NewsDate).ToShortTimeString();
            <div class="post">
                <p class="post-lead">@Html.Raw(article.Title)</p>
                <span class="glyphicon glyphicon-time"></span> Posted on @DateTimeFormatInfo.CurrentInfo.GetMonthName(((DateTime)article.NewsDate).Month) @day.ToString(), @year.ToString() at @time
                <div class="well-custom-light" style="padding-top:10px;">
                    @Html.Raw(article.Text)
                </div>
            </div>            
        }
        <div class="pager">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "NewsGrid"}).Options( o => o.Action("AjaxNews")
                .MaxNrOfPages(5)
                .DisplayFirstAndLastPage()
                .SetFirstPageText("First")
                .SetLastPageText("Last")
                .SetPreviousPageText("Previous")
                .SetNextPageText("Next"))
        </div> 
    </div>