﻿@model ComicMaster.CMS.Core.Models.dtoComic

<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Previous Comic</h3>
    </div>
    <div class="panel-body">        
        @if (Model != null)
        {   
            <a href="~/comic/archives/2" title="Read your comic. Read it!">      
                <img src="@Model.ThumbImage" alt="Previous Comic" />
            </a>
        }
        else
        {
            <p class="lead">No Comic Loaded!</p>
        }
    </div>
</div>

