﻿@model List<ComicMaster.CMS.Core.Models.dtoLink>
<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Other Sites</h3>
    </div>
    <div class="panel-body">
        <div class="list-group" id="links">
        @if (Model != null) {
            foreach(var link in Model)
            {
                <a href="@link.ExternalUrl" class="list-group-item" target="_blank">
                    <p class="list-group-item-text"><img src="@Url.Content(link.ImagePath)" alt="@link.AlternateName" width="300px" /></p>
                </a> 
            }
         }      
        </div>
    </div>
</div>
