﻿@{
    ViewBag.Title = "About";
}

    <div class="col-lg-12">
        <h1>About Merciless</h1> 
        <div class="panel panel-sidebar">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Merciless is a journey....
                </h3>
            </div>
            <div class="panel-body">
                <p class="well-custom-light">
                    Talos is a long way from home to prove himself to his family, to bring back the head of<br />
                    a beast as apart of an ancient J'Saari ritual... But something's wrong!! Talos makes<br />
                    a discovery on the planet he is on, another race who has been in long battle with the<br />
                    J'Saari who is protecting his kin so that they hatch..<br /><br />
                    Something that Talos can't allow.
                </p>
            </div>            
        </div>

        <div class="panel panel-sidebar">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Author &amp; Artist
                </h3>
            </div>
            <script src="~/Scripts/angular/AuthorsController.js"></script>
            <div class="panel-body">
                <p class="well-custom-light">
                    Merciless is drawn by the magnificent and intelligent Brett Murphy, who designed the site, 
                    drew all the pages, as well as the brilliant mind that began this saga. Merciless was also written 
                    by the quirky Hannah Lavallee who stands beside Brett, filling in the blanks of his story and together 
                    the two of them bring you an epic adventure.
                </p>
                <div class="clearfix">&nbsp;</div>
                <div data-ng-controller="AuthorsController">
                    <span class="error">{{ error }}</span>
                    <span data-ng-show="loading">Loading...</span>
                    <div data-ng-repeat="author in authors">
                        <div class="media well-custom-light">
                            <div class="pull-left">
                                <img src="@Url.Content("{{ author.Author.Avatar }}")" width="150px" height="150px" alt="{{ author.FirstName }}" class="img-polaroid" />
                            </div>                            
                            <div class="media-body">
                                <h3 class="media-heading">{{ author.Author.TypeName }}: {{ author.FirstName }} {{ author.LastName }}</h3>
                                <div class="media">{{ author.Bio }}</div>
                            </div>
                        </div><br />
                    </div>
                </div>
            </div>            
        </div>             
    </div>   