﻿@model List<ComicMaster.CMS.Core.Models.dtoBlog>

@using System.Text;

@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Merciless Blogs</h1>

<div class="col-lg-6">
    <div class="panel panel-sidebar">
        <div class="panel-heading">
            <h3><a href="~/blog/@Model[0].BlogSlug">@Html.Raw(Model[0].BlogTitle)</a></h3>
        </div>
        <div class="panel-body">
            @foreach (var _post in @Model[0].Posts)
            {
                StringBuilder sb = new StringBuilder();

                foreach (var tag in _post.Tags)
                {
                    sb.Append("&nbsp;<a href='/posts/tag/" + tag.TagSlug.ToLower() + "'>" + @Html.Raw(tag.TagName) + "</a>");
                    sb.Append(",");                    
                }

                var str = new HtmlString(sb.ToString().TrimEnd(','));
                
                <div class="post">
                    <h2><a href="/post/@_post.UrlSlug">@Html.Raw(_post.Title)</a></h2>
                    <p class="well-custom-light">
                        @Html.Raw(_post.ShortDescription)
                    </p>
                    <div class="metadata">Category: <a href="/posts/category/@_post.Category.UrlSlug">@Html.Raw(_post.Category.Name)</a>&nbsp; 
                    @if (_post.Tags.Count == 1){
                        <span class="glyphicon glyphicon-tag"></span> @str
                    } else if(_post.Tags.Count > 1) {                 
                        <span class="glyphicon glyphicon-tags"></span> @str
                    }
                    else
                    {}
                    </div>
                </div>  
            }
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-sidebar">
        <div class="panel-heading">
            <h3><a href="~/blog/@Model[1].BlogSlug">@Html.Raw(Model[1].BlogTitle)</a></h3>
        </div>
        <div class="panel-body">
            @foreach (var _post in @Model[1].Posts)
            {
                StringBuilder sb = new StringBuilder();

                foreach (var tag in _post.Tags)
                {
                    sb.Append("&nbsp;<a href='/posts/tag/" + tag.TagSlug + "'>" + @Html.Raw(tag.TagName) + "</a>");
                    sb.Append(",");                    
                }

                var str = new HtmlString(sb.ToString().TrimEnd(','));
                
                <div class="post">
                    <h2><a href="/post/@_post.UrlSlug">@Html.Raw(_post.Title)</a></h2>
                    <p class="well-custom-light">
                        @Html.Raw(_post.ShortDescription)
                    </p>
                    <div class="metadata">Category: <a href="/posts/category/@_post.Category.UrlSlug">@Html.Raw(_post.Category.Name)</a>&nbsp; 
                    @if (_post.Tags.Count == 1){
                        <span class="glyphicon glyphicon-tag"></span> @str
                    } else if(_post.Tags.Count > 1) {                 
                        <span class="glyphicon glyphicon-tags"></span> @str
                    }
                    else
                    {}
                    </div>
                </div>  
            }
        </div>
    </div>
</div>