﻿@model List<ComicMaster.CMS.Core.Models.dtoCast>

@{
    ViewBag.Title = "Cast";
}

<h2>Cast Members</h2>

<div class="col-lg-12">
    <div class="panel panel-sidebar">
        <div class="panel-heading">
            <h3 class="panel-title">
                Merciless Characters
            </h3>
        </div>
        <div class="panel-body">
            @if (Model.Count != 0)
            {
                foreach (var cast in Model)
                {
                    <div class="media well-custom-light col-lg-12">
                        <div class="pull-left">
                            <img src="@Url.Content(cast.CastImage)" alt="@Html.Raw(cast.CastSlug)" />
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">@Html.Raw(cast.FirstName) @Html.Raw(cast.LastName)</h3>
                        </div>
                        <div>
                            <p class="lead">Basic</p>
                            Height: @Html.Raw(cast.Height) Weight: @Html.Raw(cast.Weight)<br />
                            Blood Type: @Html.Raw(cast.BloodType) Sex: @Html.Raw(cast.Sex)<br />                            
                            <p class="lead">Three Sizes</p>
                            Bust: @Html.Raw(cast.Bust) Waist: @Html.Raw(cast.Waist) Hips: @Html.Raw(cast.Hips)<br />
                            <p class="lead">Bio</p>
                            <p>                               
                                @Html.Raw(cast.Bio)
                            </p>
                        </div>
                    </div>
                }
            }
            else
            {
               <div class="well-custom-light">
                    <p class="lead">No Cast Members Loaded!</p>
               </div>
            }             
        </div>
    </div>
</div>
