﻿@model List<ComicMaster.CMS.Core.Models.dtoCategory>

@using System.Text;

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    if (Model.Count > 1)
    {
        <h1>All Categories</h1>
    }
    else
    {
        <h1>Category: @Html.Raw(Model[0].Name)</h1>
    }
}

<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Blog Posts By Category</h3>
    </div>
@foreach (var category in Model)
{
    
    <div class="panel-body">
            @foreach (var _post in category.Posts)
            {
                StringBuilder sb = new StringBuilder();

                foreach (var tag in _post.Tags)
                {
                    sb.Append("&nbsp;<a href='/posts/tag/" + tag.TagSlug.ToLowerInvariant() + "'>" + @Html.Raw(tag.TagName) + "</a>");
                    sb.Append(",");                    
                }

                var str = new HtmlString(sb.ToString().TrimEnd(','));
                
                <h2><a href="/post/@_post.UrlSlug">@Html.Raw(_post.Title)</a></h2>
                <div class="post well-custom-light">                    
                    <p>
                        @Html.Raw(_post.ShortDescription)
                    </p>                    
                </div> 
                <div class="metadata">Category: @Html.Raw(category.Name) &nbsp;
                
                @if (_post.Tags.Count == 1){
                    <span class="glyphicon glyphicon-tag"></span> @str
                } else if(_post.Tags.Count > 1) {                 
                    <span class="glyphicon glyphicon-tags"></span> @str
                }
                else
                {}
                </div>      
            }    
    </div>
}
</div>