﻿@model ComicMaster.CMS.Core.Models.dtoComic

@{
    ViewBag.Title = "Comic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Html.Raw(Model.Title)
        </h3>
    </div>
    <div class="panel-body">
        <img src="@Url.Content(Model.ComicImage)" alt="@Html.Raw(Model.ComicSlug)" />
    </div>    
</div>
<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">
            Comments
        </h3>
    </div>
    <div class="panel-body">
        <div id="disqus_thread" style="width:680px"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>

<script type="text/javascript">
    //!<CDATA[
    "use strict";
    $(document).ready(function() {
        var disqus_shortname = 'mercilesscomic'; // required: replace example with your forum shortname        
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    });
    //]>
</script>