﻿
@using System.Configuration;

@Html.Partial("~/Views/Shared/_CurrentComic.cshtml")
<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">
            News &amp; Ramblings
        </h3>
    </div>
    <div class="panel-body">
        @Html.Action("_News", "Home")
    </div>
</div>
