﻿@model ComicMaster.CMS.Core.Models.dtoPost

@using System.Globalization;
@using System.Text;

@{
    ViewBag.Title = "Post";
    int day = ((DateTime)Model.PostedOn).Day;
    int year = ((DateTime)Model.PostedOn).Year;
    var time = ((DateTime)Model.PostedOn).ToShortTimeString();
}

<h1>Merciless Blog</h1>

<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="/blog/@Html.Raw(Model.BlogSlug)">@Html.Raw(Model.BlogName)</a></h3>
    </div>
    <div class="panel-body">  
        <p class="post-lead">      
            @Html.Raw(Model.Title)
        </p>
        <p>
            @{
                    StringBuilder sb = new StringBuilder();
                    foreach (var tag in Model.Tags)
                    {
                        sb.Append("&nbsp;");
                        sb.Append("&nbsp;<a href='/posts/tag/" + tag.TagSlug.ToLowerInvariant() + "'>" + @Html.Raw(tag.TagName) + "</a>");
                        sb.Append(",");
                    }

            
                    var str = new HtmlString(sb.ToString().TrimEnd(','));
            }
            <span class="pull-right">
                Category: <a href="/posts/category/@Model.Category.UrlSlug">@Html.Raw(Model.Category.Name)</a> &nbsp; 

                @if (Model.Tags.Count == 1){
                    <span class="glyphicon glyphicon-tag"></span> @str
                } else if(Model.Tags.Count > 1) {                 
                    <span class="glyphicon glyphicon-tags"></span> @str
                }
                else
                {}
            </span>
            <span class="glyphicon glyphicon-time"></span> Posted on @DateTimeFormatInfo.CurrentInfo.GetMonthName(((DateTime)(Model.PostedOn)).Month) @day.ToString(), @year.ToString() at @time 
    
        </p>
        <hr />
        <div class="well-custom-light">
            @Html.Raw(Model.LongDescription)
        </div>        
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
        
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var disqus_shortname = 'mercilesscomic'; // required: replace example with your forum shortname        
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    });
</script>