﻿@model List<ComicMaster.CMS.Core.Models.dtoPostArchive>

@using System.Text;

@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Merciless Blog</h1>

<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Archived Blog Posts</h3>
    </div>
    
    @foreach (var item in Model)
    {
    <div class="panel-body">
        <div class="well">
            <h1 style="color:#f2aa00;">@item.Month @item.Year</h1>
        </div>            
        @foreach (var _post in item.Posts)
        {
            StringBuilder sb = new StringBuilder();

            foreach (var tag in _post.Tags)
            {
                sb.Append("&nbsp;<a href='/posts/tag/" + tag.TagSlug.ToLowerInvariant() + "'>" + @Html.Raw(tag.TagName) + "</a>");
                sb.Append(",");                    
            }

            var str = new HtmlString(sb.ToString().TrimEnd(','));
                
            <div class="post">
                <h2><a href="/post/@_post.UrlSlug">@Html.Raw(_post.Title)</a></h2>
                <p class="well-custom-light">
                    @Html.Raw(_post.ShortDescription)
                </p>
                <div class="metadata">Category: <a href="/posts/category/@_post.Category.UrlSlug">@Html.Raw(_post.Category.Name)</a>&nbsp; 
                @if (_post.Tags.Count == 1){
                    <span class="glyphicon glyphicon-tag"></span> @str
                } else if(_post.Tags.Count > 1) {                 
                    <span class="glyphicon glyphicon-tags"></span> @str
                }
                else
                {}
                </div>
            </div>        
        }
    </div>
    }    
</div>
