﻿@model ComicMaster.CMS.Core.Models.dtoSearchResults

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Site Search</h1>

<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Blog Search Results</h3>
    </div>
    @if (Model != null)
    {  
        if (Model.BlogResults != null)
        {
            if (Model.BlogResults.Count != 0)
            {
                <div class="panel-body">
                @foreach (var post in Model.BlogResults)
                {
                    <div class="post">
                        <h2><a href="/post/@post.UrlSlug">@Html.Raw(post.Title)</a></h2>
                        <p class="well-custom-light">@Html.Raw(post.ShortDescription)</p>
                    </div>
                }
                </div>
            }
            else
            {
                <div class="panel-body">
                    <p class="well-custom-light">No blogs found matching the criteria.</p>
                </div>
            }
        }
        else
        {
            <div class="panel-body">
                <p class="well-custom-light">No blogs found matching the criteria.</p>
            </div>
        }
    }
    else
    {
        <div class="panel-body">
            <p class="well-custom-light">No results found matching the criteria.</p>
        </div>
    }  
</div>

<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Comic Search Results</h3>
    </div>
    @if (Model != null)
    {
        if (Model.ComicResults != null)
        {
            if (Model.ComicResults.Count != 0)
            {
                <div class="panel-body">
                @foreach (var comic in Model.ComicResults)
                {
                    <div class="media">
                        <h2><a href="/comic/@comic.ComicSlug">@Html.Raw(comic.Title)</a></h2>
                        <p class="well-custom-light">@Html.Raw(comic.ShortDescription)</p>
                    </div>
                }
                </div>
            }
            else
            {
                <div class="panel-body">
                    <p class="well-custom-light">No comics found matching the criteria.</p>
                </div>
            }
        }
        else
        {
            <div class="panel-body">
                <p class="well-custom-light">No comics found matching the criteria.</p>
            </div>
        }
    }
    else
    {
        <div class="panel-body">
            <p class="well-custom-light">No results found matching the criteria.</p>
        </div>
    }
</div>

<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Media Search Results</h3>
    </div>
    @if (Model != null)
    {          
        if (Model.MediaResults != null)
        {
            if (Model.MediaResults.Count != 0)
            {
                <div class="panel-body">
                @foreach (var media in Model.MediaResults)
                {
                    <div class="post">
                        <h2><a href="/media/@media.Slug">@Html.Raw(media.Name)</a></h2>
                    </div>
                }
                </div>
            }
            else
            {
                <div class="panel-body">
                    <p class="well-custom-light">No media found matching the criteria.</p>
                </div>
            }
        }
        else
        {
            <div class="panel-body">
                <p class="well-custom-light">No media found matching the criteria.</p>
            </div>
        }       
        
    }
    else
    {
        <div class="panel-body">
            <p class="well-custom-light">No results found matching the criteria.</p>
        </div>
    }
</div>
