﻿@model ComicMaster.CMS.Core.Models.dtoTag

@using System.Text

@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tag: @Html.Raw(Model.TagName)</h1>

<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Tag Posts</h3>
    </div>
    <div class="panel-body">           
        @foreach (var _post in Model.Posts)
        {
            StringBuilder sb = new StringBuilder();

            foreach (var tag in _post.Tags)
            {
                if (Model.TagName == tag.TagName)
                {
                    sb.Append(@Html.Raw(tag.TagName));
                }
                else
                {
                    sb.Append("&nbsp;<a href='/posts/tag/" + tag.TagSlug.ToLowerInvariant() + "'>" + @Html.Raw(tag.TagName) + "</a>");
                }
                
                sb.Append(",");                    
            }

            var str = new HtmlString(sb.ToString().TrimEnd(',')); 
                
            <div class="post">
                <h2><a href="/post/@_post.UrlSlug">@Html.Raw(_post.Title)</a></h2>
                <p class="well-custom-light">
                    @Html.Raw(_post.ShortDescription)
                </p>
                <div class="metadata">Category: <a href="/posts/category/@_post.Category.UrlSlug">@Html.Raw(_post.Category.Name)</a>&nbsp; 
                @if (_post.Tags.Count == 1){
                    <span class="glyphicon glyphicon-tag"></span> @str
                } else if(_post.Tags.Count > 1) {                 
                    <span class="glyphicon glyphicon-tags"></span> @str
                }
                else
                {}
                </div>
            </div>        
        }    
    </div>
</div>