﻿@{
    ViewBag.Title = "Wallpapers";
}
<link rel="stylesheet" href="~/content/themes/mercilesstheme/css/blueimp-gallery.css">
<link rel="stylesheet" href="~/content/themes/mercilesstheme/css/blueimp-gallery-indicator.css">
<link rel="stylesheet" href="~/content/themes/mercilesstheme/css/blueimp-gallery-video.css">

<h1>Fan Art</h1>
<div class="col-lg-12">
	<div class="panel panel-sidebar">
        <div class="panel-body">
            <div class="well-custom-light">
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
            </div>
        </div>
	</div>
</div>

<h1>Locations</h1>
<div class="col-lg-12">
	<div class="panel panel-sidebar">
        <div class="panel-body">
            <div class="well-custom-light">

            </div>
        </div>
	</div>
</div>

<h1>Lore</h1>
<div class="col-lg-12">
	<div class="panel panel-sidebar">
        <div class="panel-body">
            <div class="well-custom-light">

            </div>
        </div>
	</div>
</div>

<h1>Wallpapers</h1>
<div class="col-lg-12">
	<div class="panel panel-sidebar">
        <div class="panel-body">
            <div class="well-custom-light">

            </div>
        </div>
	</div>
</div>
