﻿<h1>Latest Comic</h1>
<script src="~/Scripts/angular/home-index.js"></script>
<div data-ng-controller="homeIndexController">
    <div class="panel panel-sidebar">
        <div class="progress progress-striped active" data-ng-show="isBusy">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
        <div class="panel-heading">
            <h3 data-ng-bind-html-unsafe="(data.ComicTitle)" class="panel-title">
            </h3>
        </div>
        <div class="panel-body">
            <a href="/comic/archives/2" title="previous">               
                <img data-ng-src="{{ data.ImageUrl }}" alt="{{ data.ComicTitle }}" />
            </a>
            <ul id="comic-pager">
                <li>
                    <a data-ng-href="/comic/archives/{{ data.FirstPage }}" class="first-link">
                        <img src="@Url.Content("~/images/btn-first.png")" alt="First" class="firstPagerMenu" />
                    </a>
                </li>
                <li>
                    <a href="/comic/archives/2">
                        <img src="@Url.Content("~/images/btn-previous.png")" alt="Previous" class="previousPagerMenu" />
                    </a>
                </li>
                <li>
                    <span class="page-divider">
                        <img src="~/images/m.png" alt="Merciless" />
                    </span>
                </li>
                <li>
                    <a href="javascript:void(0)" style="cursor:default">
                        <img src="@Url.Content("~/images/btn-next-disabled.png")" alt="Next" class="nextPagerMenu" />
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" style="cursor:default">
                        <img src="@Url.Content("~/images/btn-lastest-disabled.png")" alt="Latest" class="latestPagerMenu" />
                    </a>
                </li>
            </ul><br /><br />
            <h2>
                <a data-ng-href="/comic/{{ data.ComicSlug }}" class="pull-right">Comments</a>
            </h2>   
        </div>
    </div>
</div> 
<script type="text/javascript">
    //!<CDATA[
    "use strict";
    $(document).ready(function() {
        $(".firstPagerMenu").hover(function() {
            $(this).attr("src", "../images/btn-first-hover.png");
        }, function() {
            $(this).attr("src", "../images/btn-first.png");
        });

        $(".previousPagerMenu").hover(function() {
            $(this).attr("src", "../images/btn-previous-hover.png");
        }, function() {
            $(this).attr("src", "../images/btn-previous.png");
        });
    });

    //]>
</script>