﻿<div id="row">
    <footer id="footer">
        <!-- Widget -->
        <div class="col-lg-4">
            <p class="lead">Top 10 Categories</p>
            @Html.Partial("~/Views/Shared/_TopCategories.cshtml") 
        </div>
        <!-- End of Widget -->
        <!-- Widget -->
        <div class="col-lg-4">
            <p class="lead">Archives</p>
            @Html.Partial("~/Views/Shared/_PostArchive.cshtml")
        </div>
        <!-- End of Widget -->
        <!-- Widget -->
        <div class="col-lg-4">
            <p class="lead">Recent Posts</p>
            @Html.Partial("~/Views/Shared/_RecentPosts.cshtml") 
        </div>
        <!-- End of Widget -->
        <div class="copy">
            <div class="copy-nav">
                <span class="pull-right">
				    Copyright @DateTime.Now.Year.ToString() &copy; Merciless Comic, Powered by Comic Presence
			    </span>
                    <ul>
                    <li><a href="~/">Home</a></li>
                    <li><a href="~/about">About us</a></li>
                    <li><a href="#">Lore</a></li>
                    <li><a href="#">Races</a></li>
                    @if (User.Identity.IsAuthenticated)                    {
                        <li style="border-right:none;">@Html.ActionLink("Dashboard", "Index", "DashBoard")</li>
                    }
                    else
                    {
                    <li style="border-right:none;">@Html.ActionLink("Sign in", "Login", "Account")</li>
                    }
                </ul>
                
            </div>
        </div>
    </footer>
</div>