﻿@using System.Configuration;

<!DOCTYPE html>
<html data-ng-app="">
    <head>
        <meta charset="utf-8" />
        <title>@ConfigurationManager.AppSettings["siteName"].ToString() |  @ConfigurationManager.AppSettings["siteSlogan"].ToString()</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="~/images/favicon.ico" >
        
        @Styles.Render("~/Content/css")

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->                      
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">@RenderSection("JavaScript", required: false)</script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js">@RenderSection("JavaScript", required: false)</script>
        @Scripts.Render("~/bundles/easing")
              
        <!--[if lte IE 8]>
        @Scripts.Render("~/bundles/modernizr")
        <![endif] --> 
    </head>

    <body>
        <div class="container">
            <header>
                <div class="row-fluid">
                    <div class="col-lg-12">
                        <div id="header-content">
                            @Html.Partial("~/Views/Shared/_SearchBar.cshtml")                            
                        </div>
                        @Html.Partial("~/Views/Shared/_Logo.cshtml")                        
                    </div>
                </div>                                     
            </header>
            <div class="navbar">
                <div class="pull-right">
                    @Html.Partial("~/Views/Shared/_Navigation.cshtml")
                </div>                
            </div>                            
            <div class="row-fluid page_content">
                <div class="col-lg-8">
                    <div class="row-fluid">
                        @RenderBody()
                    </div>                    
                </div>
                <div class="col-lg-4">
                    <h1>Other Content</h1>
                    @Html.Action("_PreviousComic", "Home")
                    @Html.Action("_SideBar", "Home")
                    @Html.Partial("~/Views/Shared/_TagCloud.cshtml")
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </div>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">@RenderSection("JavaScript", required: false)</script>
    </body>
</html>