﻿@using System.Configuration;
@using ComicMaster.CMS.Web;

@{
    var version = @ConfigurationManager.AppSettings["siteVersion"].ToString();
    var isError = string.Empty;
}
<!DOCTYPE html>
@if(User.Identity.Name != null && HttpContext.Current.Session["AdminUser"] == null)
{
    Html.Action("BuildSession", "Account", new { @id = User.Identity.Name });
}
@if( ViewBag.Title == "Error")
{
    isError = "no-right-bar no-left-bar error-page";
}

<html class="@isError">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@Dashboard.DashboardTitle  @version | @ViewBag.Title</title>
    <meta name="description" content="Comic Presence CMS. A web comic CMS.">
    <meta name="author" content="Nodoubt Designs">

    <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @Styles.Render("~/bundles/dashstyles")

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">@RenderSection("JavaScript", required: false)</script>
    <script>window.jQuery || document.write('<script src="../../scripts/dash/libs/jquery.min.js"><\/script>')</script>
    	<!-- OPTIONAL: Use this migrate script for plugins that are not supported by jquery 1.9+ -->
		<!-- DISABLED <script src="js/libs/jquery.migrate-1.0.0.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js">@RenderSection("JavaScript", required: false)</script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.2/jquery.dataTables.min.js">@RenderSection("JavaScript", required: false)</script>
    <script>window.jQuery.ui || document.write('<script src="../../scripts/dash/libs/jquery.ui.min.js"><\/script>')</script>

    <script type="text/javascript">
        var ismobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
        if (!ismobile) {

            /** ONLY EXECUTE THESE CODES IF MOBILE DETECTION IS FALSE **/

            /* REQUIRED: Data table PDF/Excel output component */

            document.write('<script src="../../scripts/dash/include/ZeroClipboard.min.js"><\/script>');
            document.write('<script src="../../scripts/dash/include/TableTools.min.js"><\/script>');
            document.write('<script src="../../scripts/dash/include/select2.min.js"><\/script>');
            document.write('<script src="../../scripts/dash/include/jquery.excanvas.min.js"><\/script>');
            document.write('<script src="../../scripts/dash/include/jquery.placeholder.min.js"><\/script>');
        } else {

            /** ONLY EXECUTE THESE CODES IF MOBILE DETECTION IS TRUE **/

            document.write('<script src="../../scripts/dash/include/selectnav.min.js"><\/script>');
        }
	</script>

    @Scripts.Render("~/bundles/dash")

    <!-- Google Geo Chart -->
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript">@RenderSection("JavaScript", required: false)</script> 
    <script type='text/javascript' src='https://www.google.com/jsapi'>@RenderSection("JavaScript", required: false)</script>

    <!-- For Modern Browsers -->
	<link rel="shortcut icon" href="~/images/dash/favicons/favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="~/images/dash/favicons/favicon.ico" />
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/dash/favicons/apple-touch-icon-retina.png">
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/dash/favicons/apple-touch-icon-ipad.png">
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="~/images/dash/favicons/apple-touch-icon.png">
	
	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- Add your custom home screen title: -->
	<meta name="apple-mobile-web-app-title" content="Jarvis"> 

	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="~/images/dash/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="~/images/dash/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="~/images/dash/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- .height-wrapper" -->
    <div class="height-wrapper">
        <div id="main" role="main" class="container-fluid">
			<div class="contained">
				<!-- main content -->
				<div id="page-content">
					<div class="fluid-container">							
						@RenderBody()						
					</div>		
				</div>
				<!-- end main content -->
			</div>
			
	    </div><!--end fluid-container-->
		<div class="push"></div>
    </div>
    <!-- end .height wrapper -->    
</body>
</html>

