﻿@using System.Configuration;

<ul class="nav navbar-nav">
    @if (ViewBag.Title == @ConfigurationManager.AppSettings["siteSlogan"].ToString()) {
        <li><a href="~/" class="selected">Home</a></li>
    } else {
        <li><a href="~/">Home</a></li>
    }
    @if (ViewBag.Title == "About")
    {
        <li><a href="~/about" class="selected">About</a></li>
    } else {
        <li><a href="~/about">About</a></li>
    }
    <li><a href="~/posts/archive">Archives</a></li>
    <li><a href="~/blogs/posts">Blog</a></li>
    <li><a href="~/cast/">Cast</a></li>
    <li><a href="~/comic/archives/1">Comic</a></li>
    <li><a href="~/extras">Extras</a></li>
    <li>&nbsp;</li>
</ul>