﻿<div class="content">
    <ul id="archivedPosts"></ul>
</div>

<script type="text/javascript">
    //!<CDATA[
    "use strict";

    $(document).ready(function () {
        $.ajax({
            url: "/api/postarchives/get",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#archivedPosts').empty();
                for (var i = 0; i < data.data.length; i++) {
                    $('#archivedPosts').append('<li><a href="/posts/archive/' + data.data[i].Year + '/' + data.data[i].Month.toLowerCase() + '">' + data.data[i].Month + ' '
                        + data.data[i].Year + ' (' + data.data[i].Posts.length + ')</a>');
                }
            },
            fail: function (data) {
                return false;
            }
        });
    });
    //]>
</script>