﻿<script src="/Scripts/angular/PostController.js"></script>

<div class="content">
    <div data-ng-controller="PostController" id="RecentPosts" style="min-height:264px;">
        <span class="error">{{ error }}</span>
        <span data-ng-show="loading">Loading...</span>
        <div data-ng-repeat="post in posts">
            <div class="media-footer">
                <div class="media-body-footer">
                    <a data-ng-href="/post/{{ post.UrlSlug }}">
                        <h3>{{ post.Title }}</h3>
                        <div class="media-footer" data-ng-bind-html-unsafe=(post.ShortDescription)></div>
                    </a>
                </div>
            </div>
        </div>
    </div>                			
</div>