﻿<div id="search" class="offset6">
    <form>
        <input type="text" id="queryString" class="search_input" placeholder="Looking for something?" />
        <input type="image" id="searchBtn" src="~/images/search-btn.png" />
    </form>
    <div id="social_media">
        Follow us &nbsp;&nbsp;
        <a href="https://twitter.com/MercilessComic">
            <img src="~/images/icons/twitter_16.png" width="16" height="16" alt="Twitter" /></a>
        <a href="https://www.facebook.com/pages/Merciless-Comic/139199559583970?ref=hl">
            <img src="~/images/icons/facebook_16.png" width="16" height="16" alt="Facebook" /></a>
        <a href="~/rss">
            <img src="~/images/icons/rss_16.png" width="16" height="16" alt="Rss" /></a>
    </div>
</div>
<script type="text/javascript">
    //<!CDATA[

    (function($) {
        "use strict";
        $(function() {
            $("#searchBtn").click(function(e) {
                var parameter = $("#queryString").val();
                
                if (parameter == null || parameter === false || parameter == "")
                {
                    alert("Please enter a search value.");
                    e.preventDefault();
                }
                else
                {
                    window.location = "/search/" + parameter;
                }                                
            });
        });
    })(jQuery);

    //]]>
</script>