﻿<script src="~/Scripts/angular/TagCloudController.js"></script>
<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Tag Cloud</h3>
    </div>
    <div class="panel-body">
        <div data-ng-controller="TagCloudController">
            <div class="progress progress-striped active" data-ng-show="isBusy">
                <div class="progress-bar" style="width: 100%"></div>
            </div>
            <a data-ng-repeat="i in data" data-ng-href="/posts/tag/{{ i.TagSlug }}"><span class="{{ i.FontSize }}">{{ i.TagName }}</span></a> 
        </div>
    </div>
</div>