﻿<script src="/Scripts/angular/CategoryController.js"></script>
<div data-ng-controller="CategoryController" class="content">
    <span class="error">{{ error }}</span>
    <span data-ng-show="loading">Loading...</span>
    <ul>
        <li data-ng-repeat="category in categories"><a data-ng-href="/posts/category/{{ category.UrlSlug }}" data-ng-bind-html-unsafe=(category.Name)></a></li>
    </ul>
</div>