﻿@import url("../../../../fonts/komika-text/stylesheet.css") screen;

@import url("../../../../fonts/komika-title/stylesheet.css") screen;
@charset "utf-8";
body {
  background-color: #000000;
  background-image: url(../../../../images/bg-body.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  font-family: 'KomikaTextTightRegular', Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 17px;
  line-height: 1em;
  color: #252525;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'KomikaTitleRegular', Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #680000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 2px 0 2px 7px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 7px;
  margin-bottom: 10px;
}
/* Header */
#header {
  width: 960px;
  height: 180px;
  float: left;
}
/*Logo container*/
#logo {
  width: 400px;
  padding-top: 5px;
  padding-left: 70px;
  margin-bottom: 30px;
}
/*top right*/
#header-content {
  float: right;
  width: 440px;
  height: 105px;
  background-image: url(../../../../images/bg-search.png);
  background-repeat: no-repeat;
}
#search {
  text-align: right;
  padding-top: 10px;
  height: 32px;
  /*chrome*/

}
#search input {
  vertical-align: middle;
}
#search .search_input {
  width: 160px;
  margin-right: 10px;
  padding: 6px 10px;
  color: #F2AA00;
  font-family: 'KomikaTextTightRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #280000;
  border: 1px solid #7C0000;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#social_media {
  padding-top: 15px;
  text-align: right;
  color: #ffffff;
  font-family: 'KomikaTitleRegular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  vertical-align: middle;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
/* Header End */
/* Navbar */
.navbar {
  margin: 150px 0 0 0;
  height: 50px;
  font-size: 2em;
  color: #ffffff;
  background-image: url(../../../../images/bg-banner.png);
  background-position: center top;
  background-repeat: repeat-x;
}
.nav {
  margin: 10px 0 0 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  color: #ffffff;
  position: relative;
  display: block;
  padding: 5px 15px;
  font-size: 20px;
  line-height: 1;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: #700004;
}
.nav > li.disabled > a {
  color: #888888;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #888888;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #700004;
}
/* Navbar End */
/* Page Content */
.page_content {
  background-color: #ffffff;
  background-image: url(../../../../images/content-page-curl.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 400px;
  padding: 10px 0 60px 0;
  margin-top: 20px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-radius-bottomright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}
.page_content_sidebar {
  background-color: #ffffff;
  background-image: url(../../../../images/content-page-curl.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 10px 5px 10px 5px;
  margin-top: 20px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-radius-bottomright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}
.container .jumbotron {
  padding-left: 16px;
}
.jumbotron {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 0px;
}
.panel-sidebar {
  border-color: #db8200;
  color: #b1b1b1;
}
.panel-sidebar > .panel-heading {
  color: #ffffff;
  background-color: #f2aa00;
  border-color: #db8200;
}
.panel-sidebar > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #db8200;
}
.panel-sidebar > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #db8200;
}
.panel-body {
  display: inline-block;
}
.panel-body .tag-item1 {
  display: inline-block;
  font-size: 8pt;
  line-height: normal;
  padding-right: 4px;
}
.panel-body .tag-item2 {
  display: inline-block;
  font-size: 9pt;
  line-height: normal;
  padding-right: 4px;
}
.panel-body .tag-item3 {
  display: inline-block;
  font-size: 10pt;
  line-height: normal;
  padding-right: 4px;
}
.panel-body .tag-item4 {
  display: inline-block;
  font-size: 11pt;
  line-height: normal;
  padding-right: 4px;
}
.panel-body .tag-item5 {
  display: inline-block;
  font-size: 12pt;
  line-height: normal;
  padding-right: 4px;
}
.panel-body .tag-item6 {
  display: inline-block;
  font-size: 16pt;
  line-height: normal;
  padding-right: 4px;
}
.panel-body .tag-item7 {
  display: inline-block;
  font-size: 20pt;
  line-height: normal;
  padding-right: 4px;
}
.panel-body .tag-item8 {
  display: inline-block;
  font-size: 24pt;
  line-height: normal;
  padding-right: 4px;
}
.panel-body .tag-item9 {
  display: inline-block;
  font-size: 28pt;
  line-height: normal;
  padding-right: 4px;
}
.panel-body .tag-item10 {
  display: inline-block;
  font-size: 32pt;
  line-height: normal;
  padding-right: 4px;
}
.post-lead {
  font-size: 24pt;
  color: #f2aa00;
  line-height: 2em;
}
/* Page Content End */
/* Post */
/* Post End */
/* Footer */
#footer {
  position: relative;
  padding: 20px 0 0 0;
  width: 100%;
  height: 250px;
  /* Temporal */

  float: left;
  background-image: url(../../../../images/bg-footer.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000;
  display: block;
}
#footer .content {
  margin: 0 0 20px 0;
}
#footer .lead {
  color: #F2AA00;
  font-family: 'KomikaTitleRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#footer .content ul {
  list-style-type: none;
  width: 100%;
  padding: 20px 8px;
  min-height: 264px;
  background-color: rgba(26, 26, 26, 0.5);
  border: 1px solid #252525;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#footer .content ul li {
  font-size: 16px;
  padding-bottom: 3px;
  color: #ffffff;
}
#footer .content ul li a {
  padding-left: 20px;
  color: #ffffff;
  text-decoration: none;
}
#footer .content ul li a:hover {
  color: #DC0000;
  background-image: url(../../../../images/arrow.png);
  background-position: 0px 6px;
  background-repeat: no-repeat;
}
#footer #RecentPosts {
  width: 100%;
  padding: 20px 8px;
  min-height: 170px;
  background-color: rgba(26, 26, 26, 0.5);
  border: 1px solid #252525;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#footer #RecentPosts h3 {
  color: #F2AA00;
  font-family: 'KomikaTitleRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 0;
}
.media-footer,
.media-footer-body {
  font-size: 16px;
  padding-bottom: 3px;
  padding-left: 7px;
  overflow: hidden;
  zoom: 1;
}
.media-footer,
.media-footer,
.media-footer {
  margin-top: 15px;
}
.media-footer:first-child {
  margin-top: 0;
}
.media-footer-object {
  display: block;
}
.media-footer > .pull-left {
  margin-right: 10px;
}
.media-footer > .pull-right {
  margin-left: 10px;
}
.media-footer-list {
  padding-left: 0;
  list-style: none;
}
.copy-nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 5px 25px 0 0;
  list-style: none;
  background-image: url(../../../../images/bg-footer-line.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
  color: #515151;
}
.copy-nav ul {
  list-style-type: none;
}
.copy-nav li {
  border-right: 1px solid #292929;
  display: inherit;
  padding: 0 0 0 5px;
  float: left;
}
.copy-nav li a {
  padding-right: 5px;
  border-right: 1px solid #292929;
  text-decoration: none;
  color: #888888;
}
.copy-nav li:last-child a {
  border-right: none;
}
.copy-nav li a:hover {
  color: #F2AA00;
}
/* Footer End */
/* Comic Pager */
#comic-pager {
  margin: 0 0 0 -25px;
}
#comic-pager ul {
  margin: 0;
  padding: 0;
}
#comic-pager li {
  list-style: none;
  float: left;
  padding: 18px 0 0 0;
}
#comic-pager a {
  padding: 8px 8px 0 0;
  display: block;
  text-decoration: none;
  font-weight: bold;
}
#comic-pager .page-divider {
  margin-left: -3px;
}
/* Comic Pager End*/
/* Image Override*/
.img-polaroid {
  padding: 4px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* Image Override End */
/* Well Addon */
.well-custom {
  min-height: 20px;
  padding: 9px;
  margin-bottom: 5px;
  background-color: #151515;
  border: 1px solid #030303;
  font-size: 17pt;
  line-height: 1em;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-custom-light {
  min-height: 20px;
  padding: 9px;
  margin-bottom: 5px;
  background: #d8d4d4;
  color: #222222;
  font-size: 17pt;
  line-height: 1em;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* Well Addon End */
::-webkit-input-placeholder {
  color: #F2AA00;
  font-family: 'KomikaTextTightRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
:-moz-placeholder {
  /* Firefox 18- */

  color: #F2AA00;
  opacity: 1;
  font-family: 'KomikaTextTightRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
::-moz-placeholder {
  /* Firefox 19+ */

  color: #F2AA00;
  opacity: 1;
  font-family: 'KomikaTextTightRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
:-ms-input-placeholder {
  color: #F2AA00;
  font-family: 'KomikaTextTightRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
/* Tool tip styles */
.ui-tooltip,
.arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px 'KomikaTitleRegular', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px #000000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
/* Tool tip styles End */