﻿@using System.Configuration;
@using ComicMaster.CMS.Web;

@model ComicMaster.CMS.Common.Security.Membership.LoginModel

@{
    Layout = null;
    var version = @ConfigurationManager.AppSettings["siteVersion"].ToString();
    ViewBag.Title = "Sign In";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@Dashboard.DashboardTitle  @version | @ViewBag.Title</title>
    <meta name="description" content="Comic Presence CMS. A web comic CMS.">
    <meta name="author" content="Nodoubt Designs">

    <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @Styles.Render("~/bundles/dashstyles")

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../scripts/dash/libs/jquery.min.js"><\/script>')</script>
    	<!-- OPTIONAL: Use this migrate script for plugins that are not supported by jquery 1.9+ -->
		<!-- DISABLED <script src="js/libs/jquery.migrate-1.0.0.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="../scripts/dash/libs/jquery.ui.min.js"><\/script>')</script>

    <script type="text/javascript">
        var ismobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
        if (!ismobile) {
        } else {

            /** ONLY EXECUTE THESE CODES IF MOBILE DETECTION IS TRUE **/

            document.write('<script src="../scripts/dash/include/selectnav.min.js"><\/script>');
        }
	</script>

    @Scripts.Render("~/bundles/dash")

    @Scripts.Render("~/bundles/jqueryval")

    <!-- Google Geo Chart -->
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script> 
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>

    <!-- For Modern Browsers -->
	<link rel="shortcut icon" href="~/images/dash/favicons/favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="~/images/dash/favicons/favicon.ico" />
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/dash/favicons/apple-touch-icon-retina.png">
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/dash/favicons/apple-touch-icon-ipad.png">
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="~/images/dash/favicons/apple-touch-icon.png">
	
	<!-- iOS web-app meta's -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- Add your custom home screen title: -->
	<meta name="apple-mobile-web-app-title" content="Jarvis"> 

	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="~/images/dash/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="~/images/dash/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="~/images/dash/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="height-wrapper">
        <!-- header -->
        <header>
            <!-- tool bar -->
            <div id="header-toolbar" class="container-fluid">
                <!-- .contained -->
                <div class="contained">
                    <!-- site name -->
                    <h1>@Dashboard.DashboardTitle <span class="hidden-phone">- @Dashboard.Slogan</span></h1>
                    <!-- end site name -->
                    <!-- span4 -->
                    <div class="pull-right">
                        <div id="theme-switcher" class="btn-toolbar">
                            <!-- search and log off button for phone devices -->
							<div class="btn-group pull-right visible-phone">
								<a href="javascript:void(0)" class="btn btn-inverse btn-small"><i class="icon-search"></i></a>
								<a href="login.html" class="btn btn-inverse btn-small"><i class="icon-off"></i></a>
							</div>
							<!-- end buttons for phone device -->
                        </div>
                    </div>
                    <!-- end span4 -->
                </div>
                <!-- end .contained -->
            </div>
            <!-- end tool bar -->
        </header>
        <!-- end header -->
        <div id="login-logo">

        </div>
        <div class="jarviswidget login">
            <header>
                <h2>{Comic Presence} - Credentials</h2>
            </header>
            @if(!ViewData.ModelState.IsValid)
            {
                <div class="widget alert alert-error adjusted">
				    <i class="cus-error "></i>
				    <strong>The username or password was incorrect.</strong>
			    </div>
                
            }
            else
            {
                <div class="widget alert alert-info adjusted">
				    <i class="cus-exclamation"></i>
				    <strong>Please type in your username and password.</strong>
			    </div>
            }
            <div id="main-content">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", @id = "target" }))
            {
                        @Html.AntiForgeryToken()
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "input-block-level", @placeholder = "Username", @name = "UserName" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.Password, new { @class = "input-block-level", @placeholder = "Password", @type = "password", @name = "Password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="control-group no-border">
                            <div style="padding-left: 25px">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @id = "optionsHeckbox-5", @value = "true", @name = "Remember" })
                                    Remember me?
                                </label>
                            </div>                            
                        </div>
                        <div class="control-group no-border">
                            <div style="text-align: right">
                                <input class="btn btn-primary" type="submit" id="login-btn" value="Sign In" />
                            </div>
                        </div>                        
            }
            </div>   
    </div>
</div>

<!-- footer -->
	<footer>
        <div class="span1">&nbsp;</div>&copy; @DateTime.Now.Year.ToString() Comic Presence @version, all rights reserved.
	</footer>
	<!-- end footer -->  
</body>
</html>
