﻿@model Int32

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Error";
}



    @switch (Model)
    {
        case 401:
            {
                <h1 class="dimention"><i class="icon-warning-sign"></i> Unauthorized</h1>
                <div class="error-details">
                    Authentication credentials were missing or incorrect.
                </div>
            }
            break;
        case 403:
            {
                <h1 class="dimention"><i class="icon-warning-sign"></i> Forbidden</h1>
                <h3>The request is understood, but it has been refused or access is not allowed.</h3>
            }
            break;
        case 404:
            {				
				<h1 class="dimention"><i class="icon-warning-sign"></i> 404 Not Found</h1>
				
				<h3>The page you are looking for is lost in space!</h3> <!-- /error-details -->			
            }
            break;
        case 500:
            {
                <h1 class="dimention"><i class="icon-warning-sign"></i> Internal Server Error</h1>
                <h3>Something is broken. Please post to our Facebook page so the team can investigate.</h3>
            }
            break;
        default:
            {
                <h1 class="dimention"><i class="icon-warning-sign"></i> Unknown error!!!</h1>
                <h3 class="error-details">Something is weird, and we're not sure what's going on. Please post to our Facebook page so the team can investigate.</h3>
            }
            break;
    }

    <a href="~/dashboard" class="btn btn-primary btn-large"><i class="icon-angle-left"></i> Go Back</a>

    <div class="main-search">
	    <label for="main-search"><i class="icon-search"></i></label>
	    <input id="main-search" type="text" placeholder="Search...">
    </div>

<!-- animation background starts here, please do not alter the order -->
    <p>
	    <span id="fog"></span>
	    <span id="fog-2"></span>
	    <span id="glow"></span>
	    <span id="light"></span>
	    <span id="stars"></span>
	    <span id="stars-2"></span>
	    <span id="small-stars"></span>
	    <span id="small-stars-2"></span>
    </p>
<!-- end animation -->
