﻿@model Int32

@{
    ViewBag.Title = "Error";
}

<section class="best-section">
    <div class="shell">
        @switch (Model)
        {
            case 401:
                {
                    <h2>Unauthorized</h2>
                    <p>Authentication credentials were missing or incorrect.</p>
                }
                break;
            case 403:
                {
                    <h2>Forbidden</h2>
                    <p>The request is understood, but it has been refused or access is not allowed.</p>
                }
                break;
            case 404:
                {
                    <h2>Page not found</h2>
                    <p>Sorry, an error has occurred, the requested page cannot be found!</p>
                }
                break;
            case 500:
                {
                    <h2>Internal Server Error</h2>
                    <p>Something is broken. Please post to our Facebook page so the team can investigate.</p>
                }
                break;
            default:
                {
                    <h2>Unknown error!!!</h2>
                    <p>Something is weird, and we're not sure what's going on. Please post to our Facebook page so the team can investigate.</p>
                }
                break;
        }
    </div>
</section>
